# 파이썬기초1

## 자료형
- 자료형이란 프로그래밍할 때 쓰이는 숫자, 문자열 등 자료 형태로 저장되는 모든 것을 뜻함.

### 숫자형
- 숫자형(Number)이란 숫자 형태로 이루어진 자료형으로, 우리가 이미 잘 알고 있는 것들이다.

##### 정수형(Integer)이란 말 그대로 정수를 뜻함.

In [20]:
# 정수형
a = 123
b = -178
c = 0

##### 실수형(Floating-point)은 소수점이 포함된 숫자

In [21]:
a = 1.2
a = -3.45

In [22]:
a = 4.24E10

##### 사칙연산(+,-,*,%)

In [23]:
a = 3
b = 4
a + b

7

In [24]:
a * b

12

In [25]:
a ** b # 제곱값

81

In [26]:
7 % 3 # 나눗셈 후 나머지 반환

1

In [27]:
7//4 # 나눗셈 후 몫 반환

1

In [28]:
1 - 0.9 # 1 - 0.9 = 0.1

0.09999999999999998

In [29]:
10 / 3 # 10 / 3 = 3.3333333

3.3333333333333335

### 문자열
- 문자열(String)이란 문자, 단어 등으로 구성된 문자들의 집합을 의미함.

In [30]:
boy = "I'm a boy."
boy # 문자열에 작은 따옴표(') 입력하기

"I'm a boy."

In [31]:
say = '"Good morning", he says.'
say # 문자열에 큰 따옴표(") 입력하기

'"Good morning", he says.'

In [32]:
boy = 'I\'m a boy.'
boy # 백슬래시를 이용하여 따옴표(')를 표시함.

"I'm a boy."

In [33]:
say = "\"Good morning\", he says."
say # 백슬래시를 이용하여 큰따옴표(")를 표시함.

'"Good morning", he says.'

- 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [34]:
multiline = "life is too short,\nYou need python."
print(multiline)

life is too short,
You need python.

In [35]:
multiline2 = """
Life is too short,
You need python.
"""
print(multiline2)

Life is too short,
You need python.

- 문자열 연산하기

In [36]:
head = "hello"
tail = ' world!'
head + tail # 문자열 더해서 연결하기

'hello world!'

In [37]:
a = 'Python'
a * 3 # 문자열 곱하기

'PythonPythonPython'

In [38]:
# 문자열 곱하기 응용
print('=' * 50)
print("My program")
print('=' * 50)

==================================================
My program
==================================================

#### 문자열 인덱싱
- 문자열 인덱싱(Indexing)이란 무엇인가를 "가리킨다"는 의미이다.
- 파이썬은 0부터 숫자를 센다.

In [ ]:
Life is too short, You need Python
0         1         2         3 
0123456789012345678901234567890123

In [39]:
a = "Life is too short, you need python"

In [40]:
a[0], a[1], a[2], a[3]

('L', 'i', 'f', 'e')

In [41]:
a[12] + a[13] + a[14] + a[15] + a[16]

'short'

- 문자열을 뒤에서부터 읽기 위해서 마이너스(-)기호를 붙인다. 즉 a[-1]은 뒤에서부터 세어 첫 번째가 되는 문자를 말한다.

In [42]:
a[-6]+a[-5]+a[-4]+a[-3]+a[-2]+a[-1]

'python'

#### 문자열 슬라이싱
- 문자열 슬라이싱(slicing)은 무엇인가를 잘라낸다는 의미이다.

In [43]:
a[12:16] # 12 <= a < 16이기 때문에 a[12:16]으로 'shor'

'shor'

In [44]:
a[12:17] # 12 <= a < 17, 'short'

'short'

In [45]:
a[-6]+a[-5]+a[-4]+a[-3]+a[-2]+a[-1]

'python'

In [46]:
a[-6:] # 처음부터 혹은 끝까지는 콜론(:)

'python'

In [47]:
a[:] # 처음부터 끝까지 모두

'Life is too short, you need python'

In [48]:
# 연월일과 날씨정보가 한 번에 입력되었다.
a = "20180321Sunny"
date = a[:8] # 날짜만 슬라이싱
weather = a[8:] # 날씨만 슬라이싱
date

'20180321'

In [49]:
weather

'Sunny'

In [50]:
# 날짜를 더욱 세밀하게 슬라이싱한다.
year = a[:4] # 연도만
day = a[4:8] # 월일만
year

'2018'

In [51]:
day

'0321'

In [52]:
date

'20180321'

In [53]:
weather

'Sunny'

#### 문자열 포매팅
- 문자열 내의 특정한 값을 바꿔야 할 경우가 있는데 이 때 사용한다.
- 쉽게 말해 문자열 내에 어떤 변하는 값을 삽입하는 방법이다.

In [55]:
# 숫자 바로 대입
"I eat {0} apples" .format(3)

'I eat 3 apples'

In [56]:
# 문자열 바로 대입
"I eat {0} apples" .format("five")

'I eat five apples'

In [57]:
# 숫자 값을 가진 변수로 대입하기
number = 3
"I eat {0} apples" .format(number)

'I eat 3 apples'

In [61]:
# 2개 이상의 값 넣기
number = 10
day = "there"
"I ate {0} apples. So I was sick for {1} days." .format(number, day)

'I ate 10 apples. So I was sick for there days.'

In [65]:
# 이름으로 넣기
"I ate {number} apples. So I was sick for {day} days." .format(number=10, day=3)

'I ate 10 apples. So I was sick for 3 days.'

In [66]:
# 인덱스와 이름 혼용하기
"I ate {0} apples. So I was sick for {day} days." .format(10, day=3)

'I ate 10 apples. So I was sick for 3 days.'

In [64]:
# 정렬과 공백 채우기
# 왼쪽 정렬
"{0:<10}" .format("hi")

'hi        '

In [63]:
# 오른쪽 정렬
"{0:>10}" .format("hi")

'        hi'

In [67]:
# 가운데 정렬
"{0:^10}" .format("hi")

'    hi    '

In [68]:
# 공백을 =으로 채우고 가운데 정렬
"{0:=^10}" .format("hi")

'====hi===='

In [69]:
# 공백을 !로 채우고 왼쪽 정렬
"{0:!<10}" .format("hi")

'hi!!!!!!!!'

In [70]:
# 소수점 표현하기
y = 3.42134234
"{0:0.4f}" .format(y)

'3.4213'

In [71]:
# 10칸에 소수점 4째자리까지만
"{0:10.4f}" .format(y)

'    3.4213'

In [72]:
# 10칸에 왼쪽정렬하고 소수점 4째자리까지ㅣ만
"{0:<10.4f}" .format(y)

'3.4213    '

In [73]:
# { 또는 } 표현하기
"{{and}}" .format()

'{and}'

In [75]:
"{{and}}" .format(3)

'{and}'

#### 문자열 관련 함수
- 문자열 자료형은 자체적으로 가지고 있는 함수들이 있다.
- 이를 다른 말로 문자열 내장함수라고 한다. 이 내장함수를 사용하려면 변수 이름 뒤에 '.'을 붙이고 함수 이름을 써주면 된다.

##### 문자 개수 세기(count)
- 문자열 중 문자 b의 개수를 반환한다.

In [78]:
a = "hobby"
a.count('b')

2

##### 위치 알려주기1(find)
- 문자열 중 문자 b가 처음으로 나온 위치를 반환한다.
- 만약 찾는 문자나 문자열이 존재하지 않는다면 -1을 반환한다.

In [85]:
a = "Python is best choice."
a.find('b')

10

In [86]:
a.find('k')

-1

##### 위치 알려주기2(index)
- 문자열 중 문자 t가 맨 처음으로 나온 위치를 반환한다.
- 만약 찾는 문자나 문자열이 존재하지 않는다면 오류를 발생시킨다.
- 앞의 find 함수와 다른 점은 문자열 안에 존재 하지 않는 문자를 찾으면 오류가 발생한다는 점이다.

In [89]:
a.index('t')

2

In [90]:
a.index('k')

ValueError: substring not found

##### 문자열 삽입(join)
- abcd라는 문자열의 각각의 문자 사이에 변수 a의 값인 ','를 삽입한다.

In [91]:
a = ","
a.join('abcd')

'a,b,c,d'

##### 소문자를 대문자로 바꾸기(upper)
- upper()함수는 소문자를 대문자로 바꾸어 준다. 
- 만약 문자열이 대문자라면 아무런 변화도 일어나지 않을 것이다.

In [ ]:
a = "hi"
a.upper()

##### 대문자를 소문자로 바꾸기(lower)
- lower()함수는 대문자를 소문자로 바꾸어준다.

In [93]:
a = "HI                                                                                                                                      "
a.lower()

'hi                                                                                                                                      '

##### 왼쪽 공백 지우기(lstrip)
- 문자열 중 가장 왼쪽에 있는 한 칸 이상의 연속된 공백을 모두 지운다.

In [95]:
a = " hi "
a.lstrip()

'hi '

##### 오른쪽 공백 지우기(rstrip)
- 문자열 중 가장 오른쪽에 있는 한 칸 이상의 연속된 공백들을 모두 지운다.

In [96]:
a.rstrip()

' hi'

##### 양쪽 공백 지우기(strip)
- 문자열 양쪽에 있는 한 칸 이상의 연속된 공백들을 모두 지운다.

In [97]:
a.strip()

'hi'

##### 문자열 바꾸기(replace)
- replace(바뀌게 될 문자열, 바꿀 문자열)처럼 사용해서 문자열 내의 특정한 값을 다른 값으로 치환해 준다.

In [98]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

##### 문자열 나누기(split)
- a.split() 처럼 괄호 안에 아무런 값도 넣어 주지 않으면 공백(스페이스, 탭, 엔터 등)을 기준으로 문자열을 나누어 준다.
- a.split(':')처럼 괄호 안에 특정한 값이 있을 경우에는 괄호 안의 값을 구분자로 해서 문자열을 나누어 준다. 이렇게 나눈 값은 리스트에 하나씩 들어간다.

In [99]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [100]:
a = "a:b:c:d"
a.split()

['a:b:c:d']

In [101]:
a.split(':')

['a', 'b', 'c', 'd']

### 리스트 자료형
- 숫자와 문자열만으로는 프로그래밍하기에 부족하다.
- 집합을 표현할 수 있는 자료형이 필요하다.

In [ ]:
a = []

In [ ]:
a = list()

In [ ]:
b = [1, 2, 3]

In [ ]:
c = ['Life', 'is', 'too', 'short']

In [ ]:
d = [1, 2, 'Life', 'is']

In [ ]:
e = [1, 2, ['Life', 'is']]

#### 리스트의 인덱싱

In [ ]:
a = [1, 2, 3]
a

In [ ]:
a[0]

In [ ]:
a[0] + a[2]

In [ ]:
a[-1]

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]
a[0]

In [ ]:
a[-1]

In [ ]:
a[3]

In [ ]:
a[-1][0]

In [ ]:
a[-1][1]

In [ ]:
a[-1][2]

In [ ]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]

In [ ]:
a[2][2][0]

In [ ]:
a[2][1]

In [ ]:
a[1]

#### 리스트의 슬라이싱

In [ ]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]

In [ ]:
b

In [ ]:
c

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

In [ ]:
a[3][:2]

#### 리스트의 연산

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

In [ ]:
a + b

In [ ]:
a

In [ ]:
a * 3

In [ ]:
a = [1, 2, 3]
a[2] + "hi"

In [ ]:
a = [1, 2, 3]
str(a[2]) + "hi"

In [ ]:
str(a[1]) + "apple"

In [ ]:
a = [1, 2, 3]
a[2] = 4

In [ ]:
a

In [ ]:
a[1:2]

In [ ]:
a[1:2] = ['a', 'b', 'c']

In [ ]:
a

In [ ]:
a = [1, 2, 4]
a[1] = ['a', 'b', 'c']

In [ ]:
a

#### 리스트의 수정, 변경, 삭제

In [ ]:
a = [1, 'a', 'b', 'c', 4]
a[1:3] = []
a

In [ ]:
a

In [ ]:
del a[1]
a

In [ ]:
a = [1, 2, 3, 4]
del a[1:3]
a

#### 리스트 관련 함수

In [ ]:
a = [1, 2, 3]
a.append(4)
a

In [ ]:
a.append([5,6])
a

In [ ]:
a.append(["hi"])
a

In [ ]:
a = [1, 4, 3, 2]
a.sort()
a

In [ ]:
a = ['a', 'd', 'e', 'b', 'c']
a.sort()
a

In [ ]:
a = ['a', 'c', 'b']
a.reverse()
a

In [ ]:
a = [1, 2, 5, 3, 4]
a.reverse()
a

In [ ]:
a = [1, 2, 3]
a.index(3)

In [ ]:
a.index(2)

In [ ]:
a.index(1)

In [ ]:
a.index(0)

In [ ]:
a = [1, 2, 3]
a.insert(0, 4)
a

In [ ]:
a.insert(3,5)
a

In [ ]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

In [ ]:
a.remove(3)
a

In [ ]:
a = [1, 2, 3]
a.pop()

In [ ]:
a

In [ ]:
a = [1, 2, 3]
a.pop(1)

In [ ]:
a

In [ ]:
a = [1, 2, 3, 1]
a.count(1)

In [ ]:
a.count(2)

In [ ]:
a.count(3)

In [ ]:
a = [1, 2, 3]
a.extend([4, 5])
a

In [ ]:
b = [6, 7]
a.extend(b)
a