# 파이썬기초1

## 자료형
- 자료형이란 프로그래밍할 때 쓰이는 숫자, 문자열 등 자료 형태로 저장되는 모든 것을 뜻함.

### 숫자형
- 숫자형(Number)이란 숫자 형태로 이루어진 자료형으로, 우리가 이미 잘 알고 있는 것들이다.

##### 정수형(Integer)이란 말 그대로 정수를 뜻함.

In [20]:
# 정수형
a = 123
b = -178
c = 0

##### 실수형(Floating-point)은 소수점이 포함된 숫자

In [21]:
a = 1.2
a = -3.45

In [22]:
a = 4.24E10

##### 사칙연산(+,-,*,%)

In [23]:
a = 3
b = 4
a + b

7

In [24]:
a * b

12

In [25]:
a ** b # 제곱값

81

In [26]:
7 % 3 # 나눗셈 후 나머지 반환

1

In [27]:
7//4 # 나눗셈 후 몫 반환

1

In [28]:
1 - 0.9 # 1 - 0.9 = 0.1

0.09999999999999998

In [29]:
10 / 3 # 10 / 3 = 3.3333333

3.3333333333333335

### 문자열
- 문자열(String)이란 문자, 단어 등으로 구성된 문자들의 집합을 의미함.

In [30]:
boy = "I'm a boy."
boy # 문자열에 작은 따옴표(') 입력하기

"I'm a boy."

In [31]:
say = '"Good morning", he says.'
say # 문자열에 큰 따옴표(") 입력하기

'"Good morning", he says.'

In [32]:
boy = 'I\'m a boy.'
boy # 백슬래시를 이용하여 따옴표(')를 표시함.

"I'm a boy."

In [33]:
say = "\"Good morning\", he says."
say # 백슬래시를 이용하여 큰따옴표(")를 표시함.

'"Good morning", he says.'

- 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [34]:
multiline = "life is too short,\nYou need python."
print(multiline)

life is too short,
You need python.

In [35]:
multiline2 = """
Life is too short,
You need python.
"""
print(multiline2)

Life is too short,
You need python.

- 문자열 연산하기

In [36]:
head = "hello"
tail = ' world!'
head + tail # 문자열 더해서 연결하기

'hello world!'

In [37]:
a = 'Python'
a * 3 # 문자열 곱하기

'PythonPythonPython'

In [38]:
# 문자열 곱하기 응용
print('=' * 50)
print("My program")
print('=' * 50)

==================================================
My program
==================================================

#### 문자열 인덱싱
- 문자열 인덱싱(Indexing)이란 무엇인가를 "가리킨다"는 의미이다.
- 파이썬은 0부터 숫자를 센다.

In [ ]:
Life is too short, You need Python
0         1         2         3 
0123456789012345678901234567890123

In [39]:
a = "Life is too short, you need python"

In [40]:
a[0], a[1], a[2], a[3]

('L', 'i', 'f', 'e')

In [41]:
a[12] + a[13] + a[14] + a[15] + a[16]

'short'

- 문자열을 뒤에서부터 읽기 위해서 마이너스(-)기호를 붙인다. 즉 a[-1]은 뒤에서부터 세어 첫 번째가 되는 문자를 말한다.

In [42]:
a[-6]+a[-5]+a[-4]+a[-3]+a[-2]+a[-1]

'python'

#### 문자열 슬라이싱
- 문자열 슬라이싱(slicing)은 무엇인가를 잘라낸다는 의미이다.

In [43]:
a[12:16] # 12 <= a < 16이기 때문에 a[12:16]으로 'shor'

'shor'

In [44]:
a[12:17] # 12 <= a < 17, 'short'

'short'

In [45]:
a[-6]+a[-5]+a[-4]+a[-3]+a[-2]+a[-1]

'python'

In [46]:
a[-6:] # 처음부터 혹은 끝까지는 콜론(:)

'python'

In [47]:
a[:] # 처음부터 끝까지 모두

'Life is too short, you need python'

In [48]:
# 연월일과 날씨정보가 한 번에 입력되었다.
a = "20180321Sunny"
date = a[:8] # 날짜만 슬라이싱
weather = a[8:] # 날씨만 슬라이싱
date

'20180321'

In [49]:
weather

'Sunny'

In [50]:
# 날짜를 더욱 세밀하게 슬라이싱한다.
year = a[:4] # 연도만
day = a[4:8] # 월일만
year

'2018'

In [51]:
day

'0321'

In [52]:
date

'20180321'

In [53]:
weather

'Sunny'

#### 문자열 포매팅
- 문자열 내의 특정한 값을 바꿔야 할 경우가 있는데 이 때 사용한다.
- 쉽게 말해 문자열 내에 어떤 변하는 값을 삽입하는 방법이다.

In [55]:
# 숫자 바로 대입
"I eat {0} apples" .format(3)

'I eat 3 apples'

In [56]:
# 문자열 바로 대입
"I eat {0} apples" .format("five")

'I eat five apples'

In [57]:
# 숫자 값을 가진 변수로 대입하기
number = 3
"I eat {0} apples" .format(number)

'I eat 3 apples'

In [61]:
# 2개 이상의 값 넣기
number = 10
day = "there"
"I ate {0} apples. So I was sick for {1} days." .format(number, day)

'I ate 10 apples. So I was sick for there days.'

In [65]:
# 이름으로 넣기
"I ate {number} apples. So I was sick for {day} days." .format(number=10, day=3)

'I ate 10 apples. So I was sick for 3 days.'

In [66]:
# 인덱스와 이름 혼용하기
"I ate {0} apples. So I was sick for {day} days." .format(10, day=3)

'I ate 10 apples. So I was sick for 3 days.'

In [64]:
# 정렬과 공백 채우기
# 왼쪽 정렬
"{0:<10}" .format("hi")

'hi        '

In [63]:
# 오른쪽 정렬
"{0:>10}" .format("hi")

'        hi'

In [67]:
# 가운데 정렬
"{0:^10}" .format("hi")

'    hi    '

In [68]:
# 공백을 =으로 채우고 가운데 정렬
"{0:=^10}" .format("hi")

'====hi===='

In [69]:
# 공백을 !로 채우고 왼쪽 정렬
"{0:!<10}" .format("hi")

'hi!!!!!!!!'

In [70]:
# 소수점 표현하기
y = 3.42134234
"{0:0.4f}" .format(y)

'3.4213'

In [71]:
# 10칸에 소수점 4째자리까지만
"{0:10.4f}" .format(y)

'    3.4213'

In [72]:
# 10칸에 왼쪽정렬하고 소수점 4째자리까지ㅣ만
"{0:<10.4f}" .format(y)

'3.4213    '

In [73]:
# { 또는 } 표현하기
"{{and}}" .format()

'{and}'

In [75]:
"{{and}}" .format(3)

'{and}'

#### 문자열 관련 함수
- 문자열 자료형은 자체적으로 가지고 있는 함수들이 있다.
- 이를 다른 말로 문자열 내장함수라고 한다. 이 내장함수를 사용하려면 변수 이름 뒤에 '.'을 붙이고 함수 이름을 써주면 된다.

##### 문자 개수 세기(count)
- 문자열 중 문자 b의 개수를 반환한다.

In [78]:
a = "hobby"
a.count('b')

2

##### 위치 알려주기1(find)
- 문자열 중 문자 b가 처음으로 나온 위치를 반환한다.
- 만약 찾는 문자나 문자열이 존재하지 않는다면 -1을 반환한다.

In [85]:
a = "Python is best choice."
a.find('b')

10

In [86]:
a.find('k')

-1

##### 위치 알려주기2(index)
- 문자열 중 문자 t가 맨 처음으로 나온 위치를 반환한다.
- 만약 찾는 문자나 문자열이 존재하지 않는다면 오류를 발생시킨다.
- 앞의 find 함수와 다른 점은 문자열 안에 존재 하지 않는 문자를 찾으면 오류가 발생한다는 점이다.

In [89]:
a.index('t')

2

In [90]:
a.index('k')

ValueError: substring not found

##### 문자열 삽입(join)
- abcd라는 문자열의 각각의 문자 사이에 변수 a의 값인 ','를 삽입한다.

In [91]:
a = ","
a.join('abcd')

'a,b,c,d'

##### 소문자를 대문자로 바꾸기(upper)
- upper()함수는 소문자를 대문자로 바꾸어 준다. 
- 만약 문자열이 대문자라면 아무런 변화도 일어나지 않을 것이다.

In [ ]:
a = "hi"
a.upper()

##### 대문자를 소문자로 바꾸기(lower)
- lower()함수는 대문자를 소문자로 바꾸어준다.

In [93]:
a = "HI                                                                                                                                      "
a.lower()

'hi                                                                                                                                      '

##### 왼쪽 공백 지우기(lstrip)
- 문자열 중 가장 왼쪽에 있는 한 칸 이상의 연속된 공백을 모두 지운다.

In [95]:
a = " hi "
a.lstrip()

'hi '

##### 오른쪽 공백 지우기(rstrip)
- 문자열 중 가장 오른쪽에 있는 한 칸 이상의 연속된 공백들을 모두 지운다.

In [96]:
a.rstrip()

' hi'

##### 양쪽 공백 지우기(strip)
- 문자열 양쪽에 있는 한 칸 이상의 연속된 공백들을 모두 지운다.

In [97]:
a.strip()

'hi'

##### 문자열 바꾸기(replace)
- replace(바뀌게 될 문자열, 바꿀 문자열)처럼 사용해서 문자열 내의 특정한 값을 다른 값으로 치환해 준다.

In [98]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

##### 문자열 나누기(split)
- a.split() 처럼 괄호 안에 아무런 값도 넣어 주지 않으면 공백(스페이스, 탭, 엔터 등)을 기준으로 문자열을 나누어 준다.
- a.split(':')처럼 괄호 안에 특정한 값이 있을 경우에는 괄호 안의 값을 구분자로 해서 문자열을 나누어 준다. 이렇게 나눈 값은 리스트에 하나씩 들어간다.

In [99]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [100]:
a = "a:b:c:d"
a.split()

['a:b:c:d']

In [101]:
a.split(':')

['a', 'b', 'c', 'd']

### 리스트 자료형
- 숫자와 문자열만으로는 프로그래밍하기에 부족하다.
- 집합을 표현할 수 있는 자료형이 필요하다.

##### 리스트 만드는 법
- 대괄호로 감싸주고 각 요소값들은 쉼표(,)로 구분해 준다.
- 리스트 안에는 어떠한 자료형도 포함시킬 수 있다.

In [103]:
# 비어 있는 리스트
a = []

In [106]:
# 숫자를 요소로 갖는 리스트
b = [1, 2, 3]

In [107]:
# 문자열을 요소로 갖는 리스트
c = ['Life', 'is', 'too', 'short']

In [109]:
# 숫자와 문자열을 함께 요소값으로 가질 수 있음.
d = [1, 2, 'Life', 'is']

In [110]:
# 리스트 자체를 요소 값으로 가질 수 있음.
e = [1, 2, ['Life', 'is']]

#### 리스트의 인덱싱
- 리스트 역시 문자열처럼 인덱싱을 적용할 수 있다.

In [112]:
a = [1, 2, 3]
a

[1, 2, 3]

In [113]:
a[0] # a의 첫번째 요소값

1

In [114]:
a[0] + a[2]

4

In [115]:
a[-1]

3

In [116]:
a = [1, 2, 3, ['a', 'b', 'c']]
a[0]

1

In [119]:
a[-1] # 리스트 a 내에 있는 리스트

['a', 'b', 'c']

In [120]:
a[3]

['a', 'b', 'c']

In [121]:
a[-1][0]

'a'

In [122]:
a[-1][1]

'b'

In [123]:
a[-1][2]

'c'

In [124]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]

##### 삼중 리스트에서 인덱싱하기

In [125]:
a[2][2][0]

'Life'

In [126]:
a[2][1]

'b'

In [127]:
a[1]

2

#### 리스트의 슬라이싱
- 문자열과 마찬가지로 리스트에서도 슬라이싱 기법을 적용할 수 있다.

In [134]:
a = [1, 2, 3, 4, 5]
b = a[:2] # 리스트 a의 첫번째 요소부터 두번째 요소인 a[1]까지
c = a[2:] # 리스트 a의 세번째 요소부터 끝까지

In [135]:
b

[1, 2]

In [136]:
c

[3, 4, 5]

##### 중첩된 리스트에서 슬라이싱하기
- 리스트가 포함된 중첩 리스트 역시 슬라이싱 방법은 똑같이 적용된다.

In [131]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [ ]:
a[3][:2]

#### 리스트의 연산자
- 리스트 역시 +기호를 이용해서 더할 수 있고, * 기호를 이용해서 반복할 수 있다.

##### 리스트 더하기(+)

In [139]:
a = [1, 2, 3]
b = [4, 5, 6]

In [140]:
a + b

[1, 2, 3, 4, 5, 6]

##### 리스트 반복하기(*)

In [142]:
a

[1, 2, 3]

In [143]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

##### 초보자가 범하기 쉬운 리스트 연산 오류
- 문자열과 숫자형은 서로 다른 타입이기 때문에 더할 수 없다.

In [147]:
a = [1, 2, 3]
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [149]:
a = [1, 2, 3]
str(a[2]) + "hi" #a[2] 요소를 문자열형으로 변환하고 더해주면 된다.

'3hi'

In [151]:
str(a[1]) + "apple"
# str()은 정수나 실수를 문자열의 형태로 바꾸어주는 파이썬 내장함수이다.

'2apple'

#### 리스트의 수정, 변경, 삭제

##### 리스트에서 하나의 값 수정하기

In [152]:
a = [1, 2, 3]
a[2] = 4

In [154]:
a # a[2] 요소값 3이 4로 바뀌었다.

[1, 2, 4]

##### 리스트에서 연속된 범위의 값 수정하기

In [158]:
a[1:2]

['a']

In [159]:
a[1:2] = ['a', 'b', 'c']

In [160]:
a

[1, 'a', 'b', 'c', 'b', 'c', 4]

##### 리스트 수정할 때 주의할 점
- a[1:2] = ['a','b','c']로 수정하는 것과 a[1] = ['a','b','c']로 수정하는 것은 전혀 다른 결과값이 도출된다.

In [161]:
a = [1, 2, 4]
a[1] = ['a', 'b', 'c']

In [162]:
a

[1, ['a', 'b', 'c'], 4]

In [165]:
a = [1, 2, 4]
a[1:2] = ['a', 'b', 'c']

In [166]:
a

[1, 'a', 'b', 'c', 4]

##### [ ]사용해 리스트 요소 삭제하기

In [163]:
a = [1, 'a', 'b', 'c', 4]
a[1:3] = []
a

[1, 'c', 4]

##### del 함수 사용해 리스트 요소 삭제하기

In [167]:
a

[1, 'a', 'b', 'c', 4]

In [168]:
del a[1]
a

[1, 'b', 'c', 4]

In [169]:
a = [1, 2, 3, 4]
del a[1:3]
a

[1, 4]

#### 리스트 관련 함수
- 문자열과 마찬가지로 리스트 변수명 뒤에 '.'를 붙여서 여러 가지 리스트 관련 함수들을 이용할 수 있다.

##### 리스트에 요소 추가(append)
- append(x)는 리스트의 맨 마지막에 x를 추가한다.

In [170]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [171]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [172]:
a.append(["hi"])
a

[1, 2, 3, 4, [5, 6], ['hi']]

##### 리스트 정렬(sort)
- sort 함수는 리스트의 요소를 순서대로 정렬해준다.

In [173]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [174]:
a = ['a', 'd', 'e', 'b', 'c']
a.sort()
a

['a', 'b', 'c', 'd', 'e']

##### 리스트 뒤집기(reverse)
- reverse함수는 리스트를 역순으로 뒤집어 준다. 이때 리스트 요소들은 순서대로 정렬한 다음 다시 역순으로 정렬하는 것이 아니라 그저 현재의 리스트를 그대로 거꾸로 뒤집을 뿐이다.

In [176]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [177]:
a = [1, 2, 5, 3, 4]
a.reverse()
a

[4, 3, 5, 2, 1]

##### 위치 반환(index)
- index(x) 함수는 리스트에 x라는 값이 있으면 x의 위치값을 반환한다.

In [178]:
a = [1, 2, 3]
a.index(3)

2

In [179]:
a.index(2)

1

In [180]:
a.index(1)

0

In [182]:
a.index(0)
# 0이라는 값은 a 리스트에 존재하지 않아 값오류 발생함.

ValueError: 0 is not in list

##### 리스트에 요소 삽입(insert)
- insert(a, b)는 리스트의 a번째 위치에 b를 삽입하는 함수이다.
- 파이썬에는 숫자를 0부터 센다는 것을 반드시 기억하자.

In [183]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [184]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

##### 리스트 요소 제거(remove)
- remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제하는 함수이다.

In [185]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [186]:
a.remove(3)
a

[1, 2, 1, 2]

##### 리스트 요소 끄집어내기(pop)
- pop()은 리스트의 맨 마지막 요소를 돌려 주고 그 요소는 삭제하는 함수이다.

In [187]:
a = [1, 2, 3]
a.pop()

3

In [188]:
a

[1, 2]

In [189]:
a = [1, 2, 3]
a.pop(1)

2

In [190]:
a

[1, 3]

##### 리스트에 포함된 요소 x의 개수 세기(count)
- count(x)는 리스트 내에 x가 몇개 있는지 조사하여 그 개수를 돌려주는 함수이다.

In [191]:
a = [1, 2, 3, 1]
a.count(1)

2

In [192]:
a.count(2)

1

In [193]:
a.count(3)

1

##### 리스트 확장(extend)
- extend(x)에서 x에는 리스트만 올 수 있으며 원래의 a 리스트에 x 리스트를 더하게 된다.

In [194]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [195]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

## 튜플 자료형
- 튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.
1. 리스트는 [과 ]으로 둘러싸지만 튜플은 (과 )으로 둘러싼다.
2. 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [198]:
t1 = ()
t2 = (1, ) # 리스트와 달리 1개 요소이더라도 맨 끝에 쉼표(,) 필요
t3 = (1, 2, 3)
t4 = 1, 2, 3 # 괄호()를 생략해도 무방하다.
t5 = ('a', 'b', ('ab', 'cd'))

##### 튜플과 리스트는 비슷한 역할을 하지만 프로그래밍을 할 때 튜플과 리스트는 구분해서 사용하는 것이 유리하다.
- 튜플과 리스트의 가장 큰 차이는 값을 변화시킬 수 있는가 없는가이다. (리스트는 변화 가능/튜플은 변화 불가능)

#### 튜플의 요소값을 지우거나 변경하려고 하면 어떻게 될까?
- 튜플 요소값 삭제시 오류

In [202]:
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

- 튜플 요소값 변경시 오류

In [203]:
t1[0] ='c'

TypeError: 'tuple' object does not support item assignment

#### 튜플의 인덱싱과 슬라이싱, 더하기와 곱하기
- 튜플은 값을 변화시킬 수 없다는 점만 제외하면 리스트와 완전히 동일하므로 간단하게만 살펴보겠다.

##### 인덱싱하기
- 문자열, 리스트와 마찬가지로 t1[0], t[13]처럼 인덱싱이 가능하다.

In [204]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [205]:
t1[3]

'b'

##### 슬라이싱하기

In [206]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

##### 튜플 더하기

In [207]:
t2 = (3,4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

##### 튜플 곱하기

In [208]:
t2 * 3

(3, 4, 3, 4, 3, 4)

## 딕셔너리 자료형
- 대응관계를 나타낼 수 있는 자료형이다.
- 연관 배열(Associateive array) 또는 해시(Hash)라고 한다.
- 딕셔너리는 리스트나 뉴플처럼 순차적으로 해당 요소값을 구하지 않고 Key를 통해 Value를 얻는다.

#### 딕셔너리는 어떻게 만들까?
- 기본적인 딕셔너리형은 Key와 Value의 쌍 여러개가 {과 }로 둘러싸여 있다. 
- {Key1:Value1, Key2:Value2, Key3,Value3 ...}
- 각각의 요소는 Key:Value 형태로 이루어져 있고 쉽표(,)로 구분되어 있다.

In [209]:
dic = {'name':'pey', 'phone':'01012345678', 'birth':'1118'}

In [212]:
# 숫자형 대 문자열
a = {1: 'hi'}

In [213]:
# 문자열 대 리스트
b = {'a':[1,2,3]}

#### 딕셔너리 쌍 추가, 삭제하기
- 딕셔너리는 순서를 따지지 않는다.

##### 딕셔너리 쌍 추가하기

In [215]:
a = {1:'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [217]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [218]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

##### 딕셔너리 요소 삭제하기
- del 함수를 사용해서 del a[key]처럼 입력하면 지정한 key에 해당하는 {key:value} 쌍이 삭제된다.

In [219]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

#### 딕셔너리를 사용하는 방법
##### 딕셔너리에서 Key 사용해 Value 얻기
- 리스트나 튜플은 문자열 요소 값을 얻어내고자 할 때 인덱싱이나 슬라이싱을 이용하였으나, 딕셔너리는 단 한가지 방법뿐이다.
- Key를 이용해서 Value를 얻어내야 한다,

In [220]:
a = {1:'a', 2:'b'}
a[1]

'a'

- 여기서 a[1]이 의미하는 것은 리스트나 튜플의 a[1]과는 전혀 다르다. 딕셔너리 변수에서 [] 안의 숫자 1은 두번째 요소를 뜻하는 것이 아니라 Key에 해당하는 1을 나타낸다.
- 앞에서도 말했듯이 딕셔너리는 리스트나 튜플에 있는 인덱싱 방법을 적용할 수 없다.
- 따라서 a[1]은 딕셔너리 {1:'a',2:'b'}에서 Key가 1인 것의 Value인 'a'를 돌려주게 된다. a[2] 역시 마찬가지이다.

In [221]:
a = {'a':1, 'b':2}
a['a']

1

In [222]:
dic = {'name':'pey', 'phone':'01012345678', 'birth':'1118'}
dic['name']

'pey'

In [223]:
dic['phone']

'01012345678'

In [224]:
dic['birth']

'1118'

##### 딕셔너리 만들 때 주의 사항
- Key 값은 고유한 값이므로, 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다는 점을 주의해야 한다. 
- 중복된 것 중 어느 것이 무시될지는 알 수 없다.

In [225]:
a = {1:'a', 1:'b'}
a

{1: 'b'}

- Key에 리스트는 쓸 수 없으나 튜플은 가능하다.

In [226]:
a = {[1,2] : 'hi'}

TypeError: unhashable type: 'list'

#### 딕셔너리 관련 함수들
##### Key 리스트 만들기(keys)

In [228]:
a = {'name': 'pey', 'phone':'01012345678', 'birth':'1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [229]:
# dict_keys 객체를 리스트로 변환하려면 다음과 같이 하면 된다.
list(a.keys())

['name', 'phone', 'birth']

##### Value 리스트 만들기(values)
- Key를 얻는 것과 마찬가지 방법으로 Value만 얻고 싶다면 a.values()처럼 values 함수를 사용하면 된다.
- values 함수를 호출하면 dict_values 객체가 리턴되는데, dict_values 객체 역시 dict_keys 객체와 마찬가지로 리스트를 사용하는 것과 동일하게 사용하면 된다.

In [230]:
a.values()

dict_values(['pey', '01012345678', '1118'])

##### Key, Value 쌍 얻기(items)
- items 함수는 key와 value의 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려준다.

In [231]:
a.items()

dict_items([('name', 'pey'), ('phone', '01012345678'), ('birth', '1118')])

##### Key: Value 쌍 모두 지우기(clear)
- clear()함수는 딕셔너리 안의 모든 요소를 삭제한다. 빈 리스트를 [], 빈 튜플을 ()로 표현하는 것과 마찬가지로 빈 딕셔너리도 {}로 표현한다.

In [232]:
a.clear()
a

{}

##### Key로 Value 얻기(get)
- get(x) 함수는 x라는 key에 대응되는 value를 돌려준다. 앞서 살펴보았듯이 a.get('name')은 a['name']을 사용했을 때와 동일한 결과값을 돌려받는다.
- 다만 a['nokey']처럼 존재하는 키로 값을 가져오려고 할 경우 a['nokey']는 오류를 발생시키고 a.get('nokey')는 None을 리턴한다는 차이가 있다.

In [233]:
a.get('nokey')

In [234]:
a['nokey']

KeyError: 'nokey'

- 딕셔너리 안에 찾으려는 key 값이 없을 경우 미리 정해둔 디폴트 값을 대신 가져오게 하고 싶을 때에는 get(x, '디폴트 값')을 사용하면 편리하다.

In [236]:
a.get('foo','bar')
# a 딕셔너리에는 'foo'에 해당하는 값이 없다. 따라서 디폴트 값인 'bar'를 리턴한다.

'bar'

##### 해당 Key가 딕셔너리 안에 있는지 조사하기(in)
- 'name'이라는 문자열은 a 딕셔너리의 Key 중 하나이다. 따라서 'name' in a를 호출하면 참(True)를 리턴한다. 반대로 'email'은 딕셔너리 안에 존재하지 않는 Key이므로 거짓(False)를 리턴하게 된다.

In [239]:
a = {'name':'pey', 'phone':'01012345678', 'birth':'1118'}

In [240]:
'name' in a

True

In [241]:
'email' in a

False

### 집합 자료형
#### 집합 자료형은 어떻게 만들까?
- 집합(set)은 집합에 관련된 것들을 쉽게 처리하기 위해 만들어진 자료형이다.
- set키워드를 이용해 만들 수 있다.

In [243]:
s1 = set([1, 2, 3])
s1

{1, 2, 3}

- set() 괄호 안에 리스트를 입력하여 ㅁ나들거나 아래와 같이 문자열을 입력하여 만들 수도 있다.

In [244]:
s2 = set("hello")
s2

{'e', 'h', 'l', 'o'}

#### 집합 자료형의 특징
1. 중복을 허용하지 않는다.
2. 순서가 없다.

- 리스트나 튜플은 순서가 있기 때문에 인덱싱을 통해 자료형의 값을 얻을 수 있지만 set 자료형은 순서가 없기 때문에 인덱싱으로 값을 얻을 수 없다.
- set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한 후 해야 한다.

In [245]:
s1 = set([1, 2, 3])
l1 = list(s1)
l1

[1, 2, 3]

In [246]:
l1[0]

1

In [248]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [249]:
t1[0]

1

#### 집합 자료형 활용하는 방법
##### 교집합, 합집합, 차집합 구하기

In [250]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

###### 교집합

In [251]:
s1 & s2

{4, 5, 6}

In [252]:
s1.intersection(s2)

{4, 5, 6}

###### 합칩합

In [253]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [254]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

###### 차집합

In [256]:
s1 - s2

{1, 2, 3}

In [255]:
s2 - s1

{7, 8, 9}

In [257]:
s1.difference(s2)

{1, 2, 3}

In [258]:
s2.difference(s1)

{7, 8, 9}

#### 집합 자료형 관련 함수들
##### 값 1개 추가하기(add)
- 이미 만들어진 set 자료형에 값을 추가할 수 있다. 1개의 값만 추가(add)할 경우에는 아래와 같이 한다.

In [260]:
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

###### 값 어려 개 추가하기(update)
- 여러 개의 값을 한꺼번에 추가(update)할 때는 다음과 같이 하면 된다.

In [262]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

###### 특정 값 제거하기(remove)
- 특정 값을 제거하고 싶을 때는 아래와 같이 하면 된다.

In [263]:
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

### 불 자료형
#### 불자료형이란?
- 불(bool) 자료형이란 참(True)과 거짓(False)을 나타내는 자료형이다.
- True나 False는 파이썬의 예약어로 true, false와 같이 사용하지 말고 첫 문자를 항상 대문자로 사용해야 한다.

In [264]:
a = True
b = False

In [266]:
# 1과 1이 같은가?를 묻는 조건문이다.
1 == 1

True

In [267]:
2 >1

True

In [268]:
2 <1

False

#### 자료형의 참과 거짓
- 문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어 있으면 거짓이 된다. 비어있지 않으면 참이 된다.

In [271]:
a = [1, 2, 3, 4]
while a:
    print(a.pop()) # a가 참인 동안에 a의 요소를 하나씩 뽑아라

4
3
2
1

In [272]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [273]:
if [1, 2, 3]:
    print("참")
else:
    print("거짓")

참

#### 불 연산
- bool이라는 내장 함수를 이용하면 자료형의ㅣ 참과 거짓을 식별할 수 있다.

In [274]:
bool('python')

True

In [275]:
bool('')

False

In [276]:
bool([1,2,3])

True

In [277]:
bool([])

False

In [278]:
bool(0)

False

In [279]:
bool(3)

True

### 자료형의 값을 저장하는 공간 변수
#### 변수는 어떻게 만들까?
- 다음 예와 같은 a, b, c를 변수라고 한다.
- 변수를 만들 때는 위의 예처럼 =(assignment) 기호를 사용한다.

In [281]:
a = 1
b = "python"
c = [1, 2, 3]

#### 변수란?
- 파이썬에서 사용하는 변수는 객체를 가리키는 것이라고 할 수 있다.
- 객체란 우리가 지금껏 보아 왔던 자료형을 포함해 "파이썬에서 사용되는 모든 것"을 뜻하는 말이다.
- 변수명 = 변수에 저장할 값

In [282]:
a = 3

- 3이라는 값을 가지는 정수 자료형(객체)가 메모리에 생성됨.
- a는 변수명이며, 3이라는 정수형 객체가 저장된 위치를 가리킴.
- 즉, 변수 a는 객체가 저장된 메모리의 위치를 가리키는 레퍼런스

#### 변수를 만드는 여러 가지 방법

In [283]:
a, b = ('python', 'life')

In [286]:
a

'python'

In [284]:
# 튜플로 만들 수 있다.
(a, b) = 'python', 'life'

In [287]:
b

'life'

In [288]:
# 리스트로 변수를 만들 수 있다.
[a, b] = ['python', 'life']

In [289]:
a

'python'

In [290]:
b

'life'

In [291]:
# 여러 개의 변수에 같은 값을 대입할 수  있다.
a = b ='python'

In [295]:
# 두 변수의 값을 간단히 바꾸기
a = 3
b = 5
a, b = b, a

In [296]:
a

5

In [297]:
b

3

#### 메모리에 생성된 변수 없애기
- a=3을 입력하면 3이라는 정수형 객체가 메모리에 생성되는데, 이 값을 없앨 수도 있다.
- 3이라는 객체를 가리키는 변수의 수를 reference count라고 했는데, 이 reference count가 0이 되는 순간 3이라는 객체는 자동으로 사라진다.
- 즉 3이라는 객체를 가리키고 있는 것이 하나도 없을 때 3이라는 객체는 메모리에서 사라지게 되는 것이다.
- 이것을 가비지 콜렉션(garbage collection)이라고 한다.

In [298]:
a = 3
b = 3
del(a)
del(b)

#### 리스트를 변수에 넣고 복사하고자 할 때
##### [:] 이용
- 리스트 전체를 가리키는 [:]를 이용해서 복사

In [299]:
a = [1, 2, 3]
b = a[:]
a[1] = 4

In [300]:
a

[1, 4, 3]

In [301]:
b

[1, 2, 3]

##### Copy 모듈 이용
- from copy import copy를 이용하여 copy 모듈을 불러온다.

In [303]:
from copy import copy
b = copy(a)
# b = copy(a)는 b=a[:]와 동일하다.

- 두 변수가 같은 값을 가지면서 다른 객체를 제대로 생성했는지 확인하려면 다음과 같이 is 함수를 이용하면 된다.
- 이 함수는 서로 동일한 객체인지 아닌지에 대한 판단을 하여 참과 거짓을 리턴한다.

In [306]:
b is a
# b is a가 False를 리턴하므로 b와 a가 서로 다른 객체임을 알 수 있다.

False