# 외국인 비율과 범죄비율의 상관관계 분석

### 외국인 비율 5%가 넘는 도시를 선정하여 범죄비율의 상관관계분석을 해보기로 함

#### 분석목표
- 인구수 대비 외국인 비율을 파악
- 인구수 대비 외국인 비율을 파악하여 5%가 넘는 시,군,구를 파악하여 범죄비율 파악

## 데이터 정리하기

- 필요한 모듈 실행

In [1]:
import pandas as pd
import numpy as np

In [13]:
# 데이터 로드
crime_police = pd.read_csv('2016_crime1.csv', encoding='euc-kr', thousands=',', header= 1)
crime_police.head()

,-,범죄중분류,살인기수,살인미수등,강도,강간,유사강간,강제추행,기타 강간 강제추행등,방화,...,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄
0,계,NaN,356,558,1149,5155,583,16054,408,1502,...,65025,7329,14662,4349,600401,2457,81,1018,16651,260539
1,서울,NaN,46,100,260,1129,123,4667,72,286,...,17109,1449,3875,58,74270,509,19,180,4120,44407
2,부산,NaN,29,43,137,314,28,951,30,98,...,8134,963,2365,223,32944,209,6,60,662,22296
3,대구,NaN,17,12,51,197,37,632,14,68,...,2756,334,289,11,31682,96,2,28,615,10712
4,인천,NaN,20,28,88,347,47,1176,27,84,...,3741,641,957,85,30972,80,4,64,1281,14952

In [14]:
crime_police = crime_police.drop(index = 0)

In [15]:
crime_police = crime_police.drop(columns = "범죄중분류").head()

In [16]:
crime_police.head()

,-,살인기수,살인미수등,강도,강간,유사강간,강제추행,기타 강간 강제추행등,방화,절도범죄,...,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄
1,서울,46,100,260,1129,123,4667,72,286,46861,...,17109,1449,3875,58,74270,509,19,180,4120,44407
2,부산,29,43,137,314,28,951,30,98,16777,...,8134,963,2365,223,32944,209,6,60,662,22296
3,대구,17,12,51,197,37,632,14,68,9171,...,2756,334,289,11,31682,96,2,28,615,10712
4,인천,20,28,88,347,47,1176,27,84,10025,...,3741,641,957,85,30972,80,4,64,1281,14952
5,광주,9,8,47,170,21,488,15,38,6050,...,1616,75,249,8,22137,29,8,7,330,4809

In [ ]:
crime_police.columns.rename()

In [44]:
# 구글맵 패키지
import googlemaps

In [45]:
# https://developers.google.com/maps/documentation/geocoding/start?hl=ko
gmaps_key = "AIzaSyAZwY2qoN3eNy-KVT-N2dEAcUB3luYcJ5g"
gmaps = googlemaps.Client(key=gmaps_key)

In [46]:
gmaps.geocode('한국시청', language='ko')

[{'address_components': [{'long_name': '１１０',
    'short_name': '１１０',
    'types': ['premise']},
   {'long_name': '세종대로',
    'short_name': '세종대로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '명동',
    'short_name': '명동',
    'types': ['political', 'sublocality', 'sublocality_level_2']},
   {'long_name': '중구',
    'short_name': '중구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '100-101',
    'short_name': '100-101',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 중구 명동 세종대로 110',
  'geometry': {'location': {'lat': 37.5662952, 'lng': 126.9779451},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.5676441802915,
     'lng': 126.9792940802915},
    'southwest': {'lat': 37.5649462197085, 'lng': 126.9765961197085}}},
  'place_id': 'ChIJKwjLMvOifDURqPAMQqxwK-k',
  'types': ['city_hall',
   'establishment',
   'local_government_office',
   'point_of_interest']}]

In [47]:
# 검색 키워드 만들기 ex) XX경찰서
city_name = []
for name in crime_police ['도시명'] :
    city_name.append(str(name[:]) + '시')
city_name[2:]

['서울시',
 '부산시',
 '대구시',
 '인천시',
 '광주시',
 '대전시',
 '울산시',
 '세종시',
 '고양시',
 '과천시',
 '광명시',
 '광주시',
 '구리시',
 '군포시',
 '김포시',
 '남양주시',
 '동두천시',
 '부천시',
 '성남시',
 '수원시',
 '시흥시',
 '안산시',
 '안성시',
 '안양시',
 '양주시',
 '여주시',
 '오산시',
 '용인시',
 '의왕시',
 '의정부시',
 '이천시',
 '파주시',
 '평택시',
 '포천시',
 '하남시',
 '화성시',
 '강릉시',
 '동해시',
 '삼척시',
 '속초시',
 '원주시',
 '춘천시',
 '태백시',
 '제천시',
 '청주시',
 '충주시',
 '계룡시',
 '공주시',
 '논산시',
 '당진시',
 '보령시',
 '서산시',
 '아산시',
 '천안시',
 '군산시',
 '김제시',
 '남원시',
 '익산시',
 '전주시',
 '정읍시',
 '광양시',
 '나주시',
 '목포시',
 '순천시',
 '여수시',
 '경산시',
 '경주시',
 '구미시',
 '김천시',
 '문경시',
 '상주시',
 '안동시',
 '영주시',
 '영천시',
 '포항시',
 '거제시',
 '김해시',
 '밀양시',
 '사천시',
 '양산시',
 '진주시',
 '창원시',
 '통영시',
 '서귀포시',
 '제주시']

In [48]:
crime_police.loc[3,'도시명']

'부산'

In [49]:
# 데이터 내 모든 경찰서의 주소 얻기
city_address = []
city_lat = []
city_lng = []

for name in city_name[2:]: # 조금 전 작업한 station_name에서
    tmp = gmaps.geocode(name, language='ko') # 경찰서이름을 넣고, geocode 정보를 가져와 tmp에 저장한다.
    city_address.append(tmp[0].get("formatted_address")) # tmp[0]번째의 'formatted_address'를 가져와 station_address에 저장한다.
    
    tmp_loc = tmp[0].get("geometry") # tmp[0]번째의 'geometry' 정보를 tmp_loc에 저장한다.

    city_lat.append(tmp_loc['location']['lat']) # tmp_loc의 'location' 부분의 'lat'를 station_lat에 추가한다.
    city_lng.append(tmp_loc['location']['lng']) # tmp_loc의 'location' 부분의 'lng'를 station_lng에 추가한다.
    
    print(name + '-->' + tmp[0].get("formatted_address")) # 검색한 이름과 추가된 정보를 --> 로 구분하여 표현해 준다.

서울시-->대한민국 서울특별시
부산시-->대한민국 부산광역시
대구시-->대한민국 대구광역시
인천시-->대한민국 인천광역시
광주시-->대한민국 광주광역시
대전시-->대한민국 대전광역시
울산시-->대한민국 울산광역시
세종시-->대한민국 세종특별자치시 금남면 한누리대로 2130
고양시-->대한민국 경기도 고양시
과천시-->대한민국 경기도 과천시
광명시-->대한민국 경기도 광명시
광주시-->대한민국 광주광역시
구리시-->대한민국 경기도 구리시
군포시-->대한민국 경기도 군포시
김포시-->대한민국 경기도 김포시
남양주시-->대한민국 경기도 남양주시
동두천시-->대한민국 경기도 동두천시
부천시-->대한민국 경기도 부천시
성남시-->대한민국 경기도 성남시
수원시-->대한민국 경기도 수원시
시흥시-->대한민국 경기도 시흥시
안산시-->대한민국 경기도 안산시
안성시-->대한민국 경기도 안성시
안양시-->대한민국 경기도 안양시
양주시-->대한민국 경기도 양주시
여주시-->대한민국 경기도 여주군
오산시-->대한민국 경기도 오산시
용인시-->대한민국 경기도 용인시
의왕시-->대한민국 경기도 의왕시
의정부시-->대한민국 경기도 의정부시
이천시-->대한민국 경기도 이천시
파주시-->대한민국 경기도 파주시
평택시-->대한민국 경기도 평택시
포천시-->대한민국 경기도 포천시
하남시-->대한민국 경기도 하남시
화성시-->대한민국 경기도 화성시
강릉시-->대한민국 강원도 강릉시
동해시-->대한민국 강원도 동해시
삼척시-->대한민국 강원도 삼척시
속초시-->대한민국 강원도 속초시
원주시-->대한민국 강원도 원주시
춘천시-->대한민국 강원도 춘천시
태백시-->대한민국 강원도 태백시
제천시-->대한민국 충청북도 제천시
청주시-->대한민국 충청북도 청주시
충주시-->대한민국 충청북도 충주시
계룡시-->대한민국 충청남도 계룡시
공주시-->대한민국 충청남도 공주시
논산시-->대한민국 충청남도 논산시
당진시-->대한민국 충청남도 당진시
보령시-->대한민국 충청남도 보령시
서산시-->대한민국 충청남도 서산시
아산시-->대한민국 충청남도 아산시
천안시-->대한민국 충청남도 천안시
군산시-->대한민국 전라북도 군산시
김제시-->대한민국 전라북도 김제시
남원시-->대한민국 전라북도 남원시
익산시-->대한민국 전라북도 익산시
전주시-->대한민국 전라북도 전주시
정읍시-->대한민국 전라북도 정읍시
광양시-->대한민국 전라남도 광양시
나주시-->대한민국 전라남도 나주시
목포시-->대한민국 전라남도 목포시
순천시-->대한민국 전라남도 순천시
여수시-->대한민국 전라남도 여수시
경산시-->대한민국 경상북도 경산시
경주시-->대한민국 경상북도 경주시
구미시-->대한민국 경상북도 구미시
김천시-->대한민국 경상북도 김천시
문경시-->대한민국 경상북도 문경시
상주시-->대한민국 경상북도 상주시
안동시-->대한민국 경상북도 안동시
영주시-->대한민국 경상북도 영주시
영천시-->대한민국 경상북도 영천시
포항시-->대한민국 경상북도 포항시
거제시-->대한민국 경상남도 거제시
김해시-->대한민국 경상남도 김해시
밀양시-->대한민국 경상남도 밀양시
사천시-->대한민국 경상남도 사천시
양산시-->대한민국 경상남도 양산시
진주시-->대한민국 경상남도 진주시
창원시-->대한민국 경상남도 창원시 의창구 용호동 중앙대로 151
통영시-->대한민국 경상남도 통영시
서귀포시-->대한민국 제주특별자치도 서귀포시
제주시-->대한민국 제주특별자치도 제주시

In [50]:
# 주소 확인
city_address[:5]

['대한민국 서울특별시', '대한민국 부산광역시', '대한민국 대구광역시', '대한민국 인천광역시', '대한민국 광주광역시']

In [51]:
# 경도 확인
city_lng[:5]

[126.9779692, 129.0756416, 128.601445, 126.7052062, 126.8526012]

In [52]:
# 위도 확인
city_lat[:5]

[37.566535, 35.1795543, 35.8714354, 37.4562557, 35.1595454]

In [53]:
foreigner_korea = pd.read_csv('2016_foreigner1.csv', encoding='euc-kr')
foreigner_korea.head()

      구분  총인구\n('16.11.1)\n(A)  비율\n(B/A)    합계(B) Unnamed: 4 Unnamed: 5
0    NaN                   NaN        NaN      NaN        NaN        NaN
1    NaN                   NaN        NaN        계          남          여
2     전국            51269554.0      0.034  1764664     946561     818103
3  서울특별시             9805506.0      0.041   404037     189361     214676
4  부산광역시             3440484.0      0.017    59872      31901      27971

In [54]:
foreigner_korea.rename(columns={foreigner_korea.columns[1]: '총인구', foreigner_korea.columns[0]: '시별',
                         foreigner_korea.columns[2]: '외국인비율',
                         foreigner_korea.columns[3]: '합계',
                         foreigner_korea.columns[4]: '외국인남성',
                         foreigner_korea.columns[5]: '외국인여성',
                        }, inplace=True)
foreigner_korea

          시별         총인구  외국인비율       합계   외국인남성   외국인여성
0        NaN         NaN    NaN      NaN     NaN     NaN
1        NaN         NaN    NaN        계       남       여
2         전국  51269554.0  0.034  1764664  946561  818103
3      서울특별시   9805506.0  0.041   404037  189361  214676
4      부산광역시   3440484.0  0.017    59872   31901   27971
5      대구광역시   2461002.0  0.016    40251   21407   18844
6      인천광역시   2913024.0  0.032    94670   50587   44083
7      광주광역시   1501557.0  0.021    31162   15945   15217
8      대전광역시   1535445.0  0.017    26656   11817   14839
9      울산광역시   1166033.0  0.031    35929   20768   15161
10   세종특별자치시    242507.0  0.025     6084    3351    2733
11       수원시   1207032.0  0.045    54284   27310   26974
12       성남시    951518.0  0.031    29199   13686   15513
13      의정부시    424722.0  0.017     7248    3144    4104
14       안양시    582049.0  0.022    12568    5811    6757
15       부천시    844043.0  0.039    33081   15798   17283
16       광명시    334361.0  0.031    10269    4681    5588
17       평택시    472254.0  0.061    28999   16512   12487
18      동두천시     98625.0  0.050     4931    2456    2475
19       안산시    743072.0  0.107    79752   43801   35951
20       고양시    999098.0  0.021    21340   10412   10928
21       과천시     60923.0  0.010      581     273     308
22       구리시    183905.0  0.014     2527    1076    1451
23      남양주시    641589.0  0.018    11545    6213    5332
24       오산시    215478.0  0.062    13274    6479    6795
25       시흥시    429321.0  0.106    45668   25768   19900
26       군포시    284301.0  0.039    11113    5482    5631
27       의왕시    153629.0  0.015     2281    1165    1116
28       하남시    195422.0  0.017     3351    1722    1629
29       용인시    982590.0  0.027    26317   14244   12073
..       ...         ...    ...      ...     ...     ...
72       군산시    276394.0  0.031     8498    4985    3513
73       익산시    300929.0  0.025     7500    3599    3901
74       정읍시    109968.0  0.034     3760    2011    1749
75       남원시     80076.0  0.025     1969     793    1176
76       김제시     82888.0  0.037     3095    1821    1274
77       목포시    237484.0  0.020     4721    2387    2334
78       여수시    273925.0  0.023     6292    3835    2457
79       순천시    266519.0  0.014     3607    1450    2157
80       나주시     98221.0  0.041     4004    2077    1927
81       광양시    144364.0  0.021     3044    1335    1709
82       포항시    510360.0  0.016     8384    4511    3873
83       경주시    262769.0  0.053    13941    8711    5230
84       김천시    139709.0  0.023     3256    1708    1548
85       안동시    167664.0  0.015     2492    1053    1439
86       구미시    422237.0  0.021     9030    4848    4182
87       영주시    108950.0  0.016     1786     809     977
88       영천시     97295.0  0.045     4420    3047    1373
89       상주시     99484.0  0.021     2077     886    1191
90       문경시     71038.0  0.022     1528     637     891
91       경산시    279751.0  0.039    10918    6314    4604
92       진주시    352807.0  0.020     7098    3875    3223
93       통영시    136035.0  0.045     6180    4372    1808
94       사천시    112394.0  0.040     4525    3093    1432
95       김해시    532912.0  0.049    25957   18088    7869
96       밀양시    103941.0  0.033     3422    1630    1792
97       거제시    262986.0  0.055    14340    9777    4563
98       양산시    310731.0  0.030     9310    5656    3654
99       창원시   1053551.0  0.024    24881   14866   10015
100      제주시    462286.0  0.033    15481    8088    7393
101     서귀포시    161046.0  0.041     6621    3988    2633

[102 rows x 6 columns]

In [55]:
foreigner_korea.sort_values(by="외국인비율", ascending=False)

        시별        총인구  외국인비율      합계   외국인남성   외국인여성
37     포천시   162698.0  0.112   18271   12933    5338
19     안산시   743072.0  0.107   79752   43801   35951
25     시흥시   429321.0  0.106   45668   25768   19900
32     안성시   196362.0  0.074   14602    9015    5587
34     화성시   655350.0  0.074   48457   32926   15531
66     아산시   328287.0  0.069   22741   13584    9157
33     김포시   365770.0  0.069   25133   18052    7081
24     오산시   215478.0  0.062   13274    6479    6795
17     평택시   472254.0  0.061   28999   16512   12487
36     양주시   207009.0  0.056   11550    7831    3719
97     거제시   262986.0  0.055   14340    9777    4563
35     광주시   322302.0  0.055   17626   11134    6492
83     경주시   262769.0  0.053   13941    8711    5230
70     당진시   166043.0  0.051    8396    5234    3162
18    동두천시    98625.0  0.050    4931    2456    2475
95     김해시   532912.0  0.049   25957   18088    7869
68     논산시   124202.0  0.047    5881    2918    2963
11     수원시  1207032.0  0.045   54284   27310   26974
31     이천시   214766.0  0.045    9731    5524    4207
93     통영시   136035.0  0.045    6180    4372    1808
88     영천시    97295.0  0.045    4420    3047    1373
63     천안시   638752.0  0.044   27972   15974   11998
38     여주시   110273.0  0.044    4871    2806    2065
80     나주시    98221.0  0.041    4004    2077    1927
3    서울특별시  9805506.0  0.041  404037  189361  214676
101   서귀포시   161046.0  0.041    6621    3988    2633
94     사천시   112394.0  0.040    4525    3093    1432
91     경산시   279751.0  0.039   10918    6314    4604
26     군포시   284301.0  0.039   11113    5482    5631
15     부천시   844043.0  0.039   33081   15798   17283
..     ...        ...    ...     ...     ...     ...
59     양양군    25670.0  0.021     532     259     273
61     제천시   137022.0  0.021    2938    1364    1574
53     정선군    36233.0  0.020     724     245     479
55     화천군    24820.0  0.020     504     214     290
77     목포시   237484.0  0.020    4721    2387    2334
92     진주시   352807.0  0.020    7098    3875    3223
42     춘천시   283027.0  0.018    5223    2289    2934
23    남양주시   641589.0  0.018   11545    6213    5332
47     속초시    79109.0  0.018    1461     787     674
48     삼척시    69364.0  0.017    1198     613     585
28     하남시   195422.0  0.017    3351    1722    1629
4    부산광역시  3440484.0  0.017   59872   31901   27971
13    의정부시   424722.0  0.017    7248    3144    4104
8    대전광역시  1535445.0  0.017   26656   11817   14839
43     원주시   337479.0  0.017    5731    2803    2928
5    대구광역시  2461002.0  0.016   40251   21407   18844
87     영주시   108950.0  0.016    1786     809     977
82     포항시   510360.0  0.016    8384    4511    3873
85     안동시   167664.0  0.015    2492    1053    1439
27     의왕시   153629.0  0.015    2281    1165    1116
71     전주시   657766.0  0.015   10179    4514    5665
79     순천시   266519.0  0.014    3607    1450    2157
22     구리시   183905.0  0.014    2527    1076    1451
44     강릉시   215977.0  0.014    3128    1553    1575
45     동해시    89527.0  0.013    1166     539     627
46     태백시    45708.0  0.011     518     195     323
21     과천시    60923.0  0.010     581     273     308
69     계룡시    40576.0  0.009     371     159     212
0      NaN        NaN    NaN     NaN     NaN     NaN
1      NaN        NaN    NaN       계       남       여

[102 rows x 6 columns]

In [64]:
crime_police.head()

,도시명,범죄대분류,강력범죄,강력범죄.1,강력범죄.2,강력범죄.3,강력범죄.4,강력범죄.5,강력범죄.6,강력범죄.7,...,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄
0,-,범죄중분류,살인기수,살인미수등,강도,강간,유사강간,강제추행,기타 강간 강제추행등,방화,...,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄
1,계,NaN,356,558,1149,5155,583,16054,408,1502,...,65025,7329,14662,4349,600401,2457,81,1018,16651,260539
2,서울,NaN,46,100,260,1129,123,4667,72,286,...,17109,1449,3875,58,74270,509,19,180,4120,44407
3,부산,NaN,29,43,137,314,28,951,30,98,...,8134,963,2365,223,32944,209,6,60,662,22296
4,대구,NaN,17,12,51,197,37,632,14,68,...,2756,334,289,11,31682,96,2,28,615,10712

In [65]:
crime_police['강력범죄합계'] = crime_police['강력범죄'] + crime_police['강력범죄.1'] + crime_police['강력범죄.2'] + crime_police['강력범죄.3'] + crime_police['강력범죄.4'] + crime_police['강력범죄.5'] + crime_police['강력범죄.6'] + crime_police['강력범죄.7']
crime_police.head()

,도시명,범죄대분류,강력범죄,강력범죄.1,강력범죄.2,강력범죄.3,강력범죄.4,강력범죄.5,강력범죄.6,강력범죄.7,...,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄,강력범죄합계
0,-,범죄중분류,살인기수,살인미수등,강도,강간,유사강간,강제추행,기타 강간 강제추행등,방화,...,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄,살인기수살인미수등강도강간유사강간강제추행기타 강간 강제추행등방화
1,계,NaN,356,558,1149,5155,583,16054,408,1502,...,7329,14662,4349,600401,2457,81,1018,16651,260539,35655811495155583160544081502
2,서울,NaN,46,100,260,1129,123,4667,72,286,...,1449,3875,58,74270,509,19,180,4120,44407,461002601129123466772286
3,부산,NaN,29,43,137,314,28,951,30,98,...,963,2365,223,32944,209,6,60,662,22296,2943137314289513098
4,대구,NaN,17,12,51,197,37,632,14,68,...,334,289,11,31682,96,2,28,615,10712,171251197376321468

In [68]:
crime_polce=crime_police.dropna(axis=1)

In [72]:
pd.to_numeric(crime_police.iloc[:,1:], errors='coerce')

TypeError: arg must be a list, tuple, 1-d array, or Series

In [70]:
crime_police.to_numeric

AttributeError: 'DataFrame' object has no attribute 'to_numeric'

In [33]:
crime_police["범죄 합계"] = crime_police.sum(crime_police.columns[2:])
crime_police

TypeError: unhashable type: 'Index'

In [76]:
crime_police["범죄합계"] = crime_police.sum(crime_police.columns[2:])

TypeError: unhashable type: 'Index'

In [37]:
crime = crime_police.drop(crime_police.columns[10:], axis=1)
crime

    도시명  범죄대분류  강력범죄 강력범죄.1 강력범죄.2 강력범죄.3 강력범죄.4  강력범죄.5        강력범죄.6 강력범죄.7
0     -  범죄중분류  살인기수  살인미수등     강도     강간   유사강간    강제추행  기타 강간  강제추행등     방화
1     계    NaN   356    558  1,149  5,155    583  16,054           408  1,502
2    서울    NaN    46    100    260  1,129    123   4,667            72    286
3    부산    NaN    29     43    137    314     28     951            30     98
4    대구    NaN    17     12     51    197     37     632            14     68
5    인천    NaN    20     28     88    347     47   1,176            27     84
6    광주    NaN     9      8     47    170     21     488            15     38
7    대전    NaN    16      9     35    171     14     420            15     44
8    울산    NaN     7     15     33    112     16     293             9     38
9    세종    NaN     1      1      3     10      1      40             -      2
10   고양    NaN     6      5     11     83      4     247             4     22
11   과천    NaN     -      1      1      -      1      20             -      2
12   광명    NaN     1      1      4     32      3      92             2      8
13   광주    NaN     3     10      4     16      2      60             5      4
14   구리    NaN     1      5      1     30      3      83             2     11
15   군포    NaN     -      1      3     18      2      66             2      4
16   김포    NaN     2      2      6     20      3      92             3      6
17  남양주    NaN     3      7      9     60      2     165             2     18
18  동두천    NaN     1      -      -      6      -      37             3      6
19   부천    NaN     6     11     17    108     15     339            10     24
20   성남    NaN     5      4     17    114     10     348             6     21
21   수원    NaN    10     19     26    124     24     408            14     29
22   시흥    NaN     8      7      9     57      4     120             1     15
23   안산    NaN     4     20     19     98      8     307             3     32
24   안성    NaN     2      4      3     15      2      55             1      4
25   안양    NaN     6      4      7     45      4     220             3      9
26   양주    NaN     -      2      2     27      1      32             2      5
27   여주    NaN     2      5      -     14      1      45             -      3
28   오산    NaN     1      4      1     20      3      67             1      6
29   용인    NaN     2     13      5     38     10     184             3     12
..  ...    ...   ...    ...    ...    ...    ...     ...           ...    ...
57   김제    NaN     -      1      -      6      -      14             2      1
58   남원    NaN     -      -      2      6      1      17             -      2
59   익산    NaN     4      5     15     25      4      64             3     13
60   전주    NaN     3      7     12     62      7     165             6     12
61   정읍    NaN     -      3      1     11      4      22             1      2
62   광양    NaN     -      2      5     21      1      25             1      4
63   나주    NaN     -      -      -      4      -       6             -      2
64   목포    NaN     1      4      5     33      5      97             5     15
65   순천    NaN     3      2      4     30      1      72             3      7
66   여수    NaN     3      -      6     20      2      67             -      8
67   경산    NaN     2      1      6     36      2      50             -      3
68   경주    NaN     3      3      6     21      1      60             1     13
69   구미    NaN     1      4     15     35      4      72             1      9
70   김천    NaN     1      -      1     15      -      17             1      5
71   문경    NaN     -      -      -      9      -      12             -      2
72   상주    NaN     -      1      2      6      -      17             1      3
73   안동    NaN     1      1      1     13      -      44             -      5
74   영주    NaN     1      1      1      3      1      16             -      2
75   영천    NaN     2      1      1      9      -      13             -      6
76   포항    NaN     5      6      7     57      7      97             3     10
77   거제    NaN     2      -      5     18      4      73             2     10
78   김해    NaN     5      4     10     31      6     111             4     17
79   밀양    NaN     2      -      4      8      -      12             -      5
80   사천    NaN     -      3      1      5      2      25             4      2
81   양산    NaN     3      1      7     31      4      76             1      5
82   진주    NaN     2      3      6     32      1      74             3      6
83   창원    NaN     3     15     26     68      7     202             7     29
84   통영    NaN     -      3      1     15      1      27             3      -
85  서귀포    NaN     -      1      1     16      3      95             1     11
86   제주    NaN     4     11     24     68     13     223             7     15

[87 rows x 10 columns]

In [58]:
crime_police.head()

,도시명,범죄대분류,강력범죄.2,강력범죄.3,강력범죄.4,강력범죄.5,강력범죄.6,강력범죄.7,강력범죄,절도범죄,...,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄
0,-,범죄중분류,강도,강간,유사강간,강제추행,기타 강간 강제추행등,방화,합계,절도범죄,...,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄
1,계,NaN,"1,149","5,155",583,"16,054",408,"1,502","25,765","203,037",...,"65,025","7,329","14,662","4,349","600,401","2,457",81,"1,018","16,651","260,539"
2,서울,NaN,260,"1,129",123,"4,667",72,286,"6,683","46,861",...,"17,109","1,449","3,875",58,"74,270",509,19,180,"4,120","44,407"
3,부산,NaN,137,314,28,951,30,98,"1,630","16,777",...,"8,134",963,"2,365",223,"32,944",209,6,60,662,"22,296"
4,대구,NaN,51,197,37,632,14,68,"1,028","9,171",...,"2,756",334,289,11,"31,682",96,2,28,615,"10,712"