# 외국인 비율과 범죄비율의 상관관계 분석

### 외국인 비율 5%가 넘는 도시를 선정하여 범죄비율의 상관관계분석을 해보기로 함

#### 분석목표
- 인구수 대비 외국인 비율을 파악
- 인구수 대비 외국인 비율을 파악하여 5%가 넘는 시,군,구를 파악하여 범죄비율 파악

## 데이터 정리하기

- 필요한 모듈 실행

In [42]:
import pandas as pd
import numpy as np

In [43]:
# 데이터 로드
crime_police = pd.read_csv('2016_crime1.csv', encoding='euc-kr', thousands=',', header= 1)
crime_police.head()

,-,범죄중분류,살인기수,살인미수등,강도,강간,유사강간,강제추행,기타 강간 강제추행등,방화,...,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄
0,계,NaN,356,558,1149,5155,583,16054,408,1502,...,65025,7329,14662,4349,600401,2457,81,1018,16651,260539
1,서울,NaN,46,100,260,1129,123,4667,72,286,...,17109,1449,3875,58,74270,509,19,180,4120,44407
2,부산,NaN,29,43,137,314,28,951,30,98,...,8134,963,2365,223,32944,209,6,60,662,22296
3,대구,NaN,17,12,51,197,37,632,14,68,...,2756,334,289,11,31682,96,2,28,615,10712
4,인천,NaN,20,28,88,347,47,1176,27,84,...,3741,641,957,85,30972,80,4,64,1281,14952

In [44]:
crime_police = crime_police.drop(index = 0)

In [45]:
crime_police = crime_police.drop(columns = "범죄중분류")

In [46]:
crime_police.head()

,-,살인기수,살인미수등,강도,강간,유사강간,강제추행,기타 강간 강제추행등,방화,절도범죄,...,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄
1,서울,46,100,260,1129,123,4667,72,286,46861,...,17109,1449,3875,58,74270,509,19,180,4120,44407
2,부산,29,43,137,314,28,951,30,98,16777,...,8134,963,2365,223,32944,209,6,60,662,22296
3,대구,17,12,51,197,37,632,14,68,9171,...,2756,334,289,11,31682,96,2,28,615,10712
4,인천,20,28,88,347,47,1176,27,84,10025,...,3741,641,957,85,30972,80,4,64,1281,14952
5,광주,9,8,47,170,21,488,15,38,6050,...,1616,75,249,8,22137,29,8,7,330,4809

In [53]:
# 열 이름 바꾸기 '-'  -> '지역'
crime_police = crime_police.rename(columns={'-' : '지역'})

In [54]:
crime_police.head(3)

,지역,살인기수,살인미수등,강도,강간,유사강간,강제추행,기타 강간 강제추행등,방화,절도범죄,...,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄
1,서울,46,100,260,1129,123,4667,72,286,46861,...,17109,1449,3875,58,74270,509,19,180,4120,44407
2,부산,29,43,137,314,28,951,30,98,16777,...,8134,963,2365,223,32944,209,6,60,662,22296
3,대구,17,12,51,197,37,632,14,68,9171,...,2756,334,289,11,31682,96,2,28,615,10712

In [55]:
foreigner_korea = pd.read_csv('2016_foreigner1.csv', encoding='euc-kr')
foreigner_korea.head()

      구분  총인구\n('16.11.1)\n(A)  비율\n(B/A)        계       남       여
0     전국              51269554      0.034  1764664  946561  818103
1  서울특별시               9805506      0.041   404037  189361  214676
2  부산광역시               3440484      0.017    59872   31901   27971
3  대구광역시               2461002      0.016    40251   21407   18844
4  인천광역시               2913024      0.032    94670   50587   44083

In [56]:
foreigner_korea.rename(columns={foreigner_korea.columns[1]: '총인구', foreigner_korea.columns[0]: '시별',
                         foreigner_korea.columns[2]: '외국인비율',
                         foreigner_korea.columns[3]: '합계',
                         foreigner_korea.columns[4]: '외국인남성',
                         foreigner_korea.columns[5]: '외국인여성',
                        }, inplace=True)
foreigner_korea

         시별       총인구  외국인비율       합계   외국인남성   외국인여성
0        전국  51269554  0.034  1764664  946561  818103
1     서울특별시   9805506  0.041   404037  189361  214676
2     부산광역시   3440484  0.017    59872   31901   27971
3     대구광역시   2461002  0.016    40251   21407   18844
4     인천광역시   2913024  0.032    94670   50587   44083
5     광주광역시   1501557  0.021    31162   15945   15217
6     대전광역시   1535445  0.017    26656   11817   14839
7     울산광역시   1166033  0.031    35929   20768   15161
8   세종특별자치시    242507  0.025     6084    3351    2733
9       수원시   1207032  0.045    54284   27310   26974
10      성남시    951518  0.031    29199   13686   15513
11     의정부시    424722  0.017     7248    3144    4104
12      안양시    582049  0.022    12568    5811    6757
13      부천시    844043  0.039    33081   15798   17283
14      광명시    334361  0.031    10269    4681    5588
15      평택시    472254  0.061    28999   16512   12487
16     동두천시     98625  0.050     4931    2456    2475
17      안산시    743072  0.107    79752   43801   35951
18      고양시    999098  0.021    21340   10412   10928
19      과천시     60923  0.010      581     273     308
20      구리시    183905  0.014     2527    1076    1451
21     남양주시    641589  0.018    11545    6213    5332
22      오산시    215478  0.062    13274    6479    6795
23      시흥시    429321  0.106    45668   25768   19900
24      군포시    284301  0.039    11113    5482    5631
25      의왕시    153629  0.015     2281    1165    1116
26      하남시    195422  0.017     3351    1722    1629
27      용인시    982590  0.027    26317   14244   12073
28      파주시    423957  0.039    16478   10222    6256
29      이천시    214766  0.045     9731    5524    4207
..      ...       ...    ...      ...     ...     ...
70      군산시    276394  0.031     8498    4985    3513
71      익산시    300929  0.025     7500    3599    3901
72      정읍시    109968  0.034     3760    2011    1749
73      남원시     80076  0.025     1969     793    1176
74      김제시     82888  0.037     3095    1821    1274
75      목포시    237484  0.020     4721    2387    2334
76      여수시    273925  0.023     6292    3835    2457
77      순천시    266519  0.014     3607    1450    2157
78      나주시     98221  0.041     4004    2077    1927
79      광양시    144364  0.021     3044    1335    1709
80      포항시    510360  0.016     8384    4511    3873
81      경주시    262769  0.053    13941    8711    5230
82      김천시    139709  0.023     3256    1708    1548
83      안동시    167664  0.015     2492    1053    1439
84      구미시    422237  0.021     9030    4848    4182
85      영주시    108950  0.016     1786     809     977
86      영천시     97295  0.045     4420    3047    1373
87      상주시     99484  0.021     2077     886    1191
88      문경시     71038  0.022     1528     637     891
89      경산시    279751  0.039    10918    6314    4604
90      진주시    352807  0.020     7098    3875    3223
91      통영시    136035  0.045     6180    4372    1808
92      사천시    112394  0.040     4525    3093    1432
93      김해시    532912  0.049    25957   18088    7869
94      밀양시    103941  0.033     3422    1630    1792
95      거제시    262986  0.055    14340    9777    4563
96      양산시    310731  0.030     9310    5656    3654
97      창원시   1053551  0.024    24881   14866   10015
98      제주시    462286  0.033    15481    8088    7393
99     서귀포시    161046  0.041     6621    3988    2633

[100 rows x 6 columns]

In [57]:
foreigner_korea.sort_values(by="외국인비율", ascending=False)

       시별      총인구  외국인비율      합계   외국인남성   외국인여성
35    포천시   162698  0.112   18271   12933    5338
17    안산시   743072  0.107   79752   43801   35951
23    시흥시   429321  0.106   45668   25768   19900
30    안성시   196362  0.074   14602    9015    5587
32    화성시   655350  0.074   48457   32926   15531
64    아산시   328287  0.069   22741   13584    9157
31    김포시   365770  0.069   25133   18052    7081
22    오산시   215478  0.062   13274    6479    6795
15    평택시   472254  0.061   28999   16512   12487
34    양주시   207009  0.056   11550    7831    3719
95    거제시   262986  0.055   14340    9777    4563
33    광주시   322302  0.055   17626   11134    6492
81    경주시   262769  0.053   13941    8711    5230
68    당진시   166043  0.051    8396    5234    3162
16   동두천시    98625  0.050    4931    2456    2475
93    김해시   532912  0.049   25957   18088    7869
66    논산시   124202  0.047    5881    2918    2963
9     수원시  1207032  0.045   54284   27310   26974
29    이천시   214766  0.045    9731    5524    4207
91    통영시   136035  0.045    6180    4372    1808
86    영천시    97295  0.045    4420    3047    1373
61    천안시   638752  0.044   27972   15974   11998
36    여주시   110273  0.044    4871    2806    2065
78    나주시    98221  0.041    4004    2077    1927
1   서울특별시  9805506  0.041  404037  189361  214676
99   서귀포시   161046  0.041    6621    3988    2633
92    사천시   112394  0.040    4525    3093    1432
89    경산시   279751  0.039   10918    6314    4604
24    군포시   284301  0.039   11113    5482    5631
13    부천시   844043  0.039   33081   15798   17283
..    ...      ...    ...     ...     ...     ...
49    영월군    37019  0.021     767     311     456
18    고양시   999098  0.021   21340   10412   10928
57    양양군    25670  0.021     532     259     273
59    제천시   137022  0.021    2938    1364    1574
51    정선군    36233  0.020     724     245     479
53    화천군    24820  0.020     504     214     290
75    목포시   237484  0.020    4721    2387    2334
90    진주시   352807  0.020    7098    3875    3223
40    춘천시   283027  0.018    5223    2289    2934
21   남양주시   641589  0.018   11545    6213    5332
45    속초시    79109  0.018    1461     787     674
46    삼척시    69364  0.017    1198     613     585
26    하남시   195422  0.017    3351    1722    1629
2   부산광역시  3440484  0.017   59872   31901   27971
11   의정부시   424722  0.017    7248    3144    4104
6   대전광역시  1535445  0.017   26656   11817   14839
41    원주시   337479  0.017    5731    2803    2928
3   대구광역시  2461002  0.016   40251   21407   18844
85    영주시   108950  0.016    1786     809     977
80    포항시   510360  0.016    8384    4511    3873
83    안동시   167664  0.015    2492    1053    1439
25    의왕시   153629  0.015    2281    1165    1116
69    전주시   657766  0.015   10179    4514    5665
77    순천시   266519  0.014    3607    1450    2157
20    구리시   183905  0.014    2527    1076    1451
42    강릉시   215977  0.014    3128    1553    1575
43    동해시    89527  0.013    1166     539     627
44    태백시    45708  0.011     518     195     323
19    과천시    60923  0.010     581     273     308
67    계룡시    40576  0.009     371     159     212

[100 rows x 6 columns]

In [58]:
crime_police.head()

,지역,살인기수,살인미수등,강도,강간,유사강간,강제추행,기타 강간 강제추행등,방화,절도범죄,...,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄
1,서울,46,100,260,1129,123,4667,72,286,46861,...,17109,1449,3875,58,74270,509,19,180,4120,44407
2,부산,29,43,137,314,28,951,30,98,16777,...,8134,963,2365,223,32944,209,6,60,662,22296
3,대구,17,12,51,197,37,632,14,68,9171,...,2756,334,289,11,31682,96,2,28,615,10712
4,인천,20,28,88,347,47,1176,27,84,10025,...,3741,641,957,85,30972,80,4,64,1281,14952
5,광주,9,8,47,170,21,488,15,38,6050,...,1616,75,249,8,22137,29,8,7,330,4809

In [62]:
# crime_police['강력범죄합계'] = crime_police['살인기수'] + crime_police['살인미수등'] + crime_police['강도'] + crime_police['강간'] + crime_police['유사강간'] + crime_police['기타'] + crime_police['강간'] + crime_police['강제추행등']
crime_police['강력범죄합계'] = crime_police.iloc[:,1] + crime_police.iloc[:,2] + crime_police.iloc[:,3] + crime_police.iloc[:,4] + crime_police.iloc[:,5] + crime_police.iloc[:,6] + crime_police.iloc[:,7] + crime_police.iloc[:,8]
crime_police.head()

,지역,살인기수,살인미수등,강도,강간,유사강간,강제추행,기타 강간 강제추행등,방화,절도범죄,...,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,안보범죄,선거범죄,병역범죄,기타범죄,강력범죄합계
1,서울,46,100,260,1129,123,4667,72,286,46861,...,1449,3875,58,74270,509,19,180,4120,44407,6683
2,부산,29,43,137,314,28,951,30,98,16777,...,963,2365,223,32944,209,6,60,662,22296,1630
3,대구,17,12,51,197,37,632,14,68,9171,...,334,289,11,31682,96,2,28,615,10712,1028
4,인천,20,28,88,347,47,1176,27,84,10025,...,641,957,85,30972,80,4,64,1281,14952,1817
5,광주,9,8,47,170,21,488,15,38,6050,...,75,249,8,22137,29,8,7,330,4809,796

In [65]:
crime_police.columns

Index(['지역', '살인기수', '살인미수등', '강도', '강간', '유사강간', '강제추행', '기타 강간  강제추행등', '방화',
       '절도범죄', '상해', '폭행', '체포  감금', '협박', '약취  유인', '폭력행위등', '공갈', '손괴',
       '직무유기', '직권남용', '증수뢰', '통화', '문서  인장', '유가증권인지', '사기', '횡령', '배임',
       '성풍속범죄', '도박범죄', '특별경제범죄', '마약범죄', '보건범죄', '환경범죄', '교통범죄', '노동범죄',
       '안보범죄', '선거범죄', '병역범죄', '기타범죄', '강력범죄합계'],
      dtype='object')

- 범죄합계 확인해보고 합치세요

In [33]:
crime_police['범죄합계'] = crime_police.iloc[:,1] + crime_police.iloc[:,2] + crime_police.iloc[:,3] + crime_police.iloc[:,4] + crime_police.iloc[:,5] + crime_police.iloc[:,6] + crime_police.iloc[:,7] + crime_police.iloc[:,8]

TypeError: unhashable type: 'Index'