In [1]:
import pandas as pd
import xlrd as xl
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import platform

path = "c:/Windows/Fonts/malgun.ttf"
from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

In [4]:
Atype=pd.read_excel('중도경쟁사A.xlsx')

In [5]:
Ctype=pd.read_excel('중도경쟁사C.xlsx')

In [5]:
Atype

,assortment,Store,오픈 전 매출,오픈 전 개월수,오픈 달 매출,오픈 후 매출,오픈 후 개월수,오픈전 평균매출,오픈후 평균매출,경쟁사거리,상승률
0,a,30,1957541,13,136447,2020058,17,150580.076923,118826.941176,40,-0.210872
1,a,133,1307433,7,171622,3578733,23,186776.142857,155597.086957,270,-0.166933
2,a,6,1733507,11,173192,2391059,19,157591.545455,125845.210526,310,-0.201447
3,a,116,586615,3,197031,4927983,27,195538.333333,182517.888889,680,-0.066588
4,a,131,3978846,30,130694,130694,0,132628.200000,130694.000000,920,-0.014584
5,a,169,3515196,18,237850,1776653,12,195288.666667,148054.416667,980,-0.241869
6,a,170,3581425,28,102648,218282,2,127908.035714,109141.000000,1070,-0.146723
7,a,191,1305058,7,158690,2790071,17,186436.857143,164121.823529,1100,-0.119692
8,a,28,2888924,21,119427,1072599,9,137567.809524,119177.666667,1200,-0.133681
9,a,14,1899391,14,145048,2246735,16,135670.785714,140420.937500,1300,0.035012
10,a,106,1516570,7,224476,4977289,23,216652.857143,216403.869565,1390,-0.001149
11,a,137,4942367,24,204672,204672,0,205931.958333,130694.000000,1730,-0.365353
12,a,95,4153809,21,172213,1632042,9,197800.428571,181338.000000,1890,-0.083227
13,a,120,4085290,23,203623,1264077,7,177621.304348,180582.428571,2290,0.016671
14,a,126,3667175,21,131868,1270497,9,174627.380952,141166.333333,3370,-0.191614
15,a,197,4479853,26,178716,532168,4,172302.038462,133042.000000,4210,-0.227856
16,a,37,4134526,23,224407,1190120,7,179762.000000,170017.142857,4230,-0.054210
17,a,189,3995311,18,230861,2600150,12,221961.722222,216679.166667,5760,-0.023799
18,a,8,2740134,21,153143,1449580,9,130482.571429,161064.444444,7520,0.234375
19,a,159,376413,2,200841,4250129,22,188206.500000,193187.681818,8530,0.026467
20,a,45,1770986,13,118254,2277218,17,136229.692308,133954.000000,9710,-0.016705
21,a,181,282077,2,169895,3524449,22,141038.500000,160202.227273,12610,0.135876
22,a,5,3172482,27,113909,356427,3,117499.333333,118809.000000,29910,0.011146

In [6]:
Atype = pd.read_excel('중도경쟁사A.xlsx', header=0, 
                      parse_cols="J,K", convert_float=True)

E:\Programs\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: the 'parse_cols' keyword is deprecated, use 'usecols' instead

In [7]:
Atype

    경쟁사거리       상승률
0      40 -0.210872
1     270 -0.166933
2     310 -0.201447
3     680 -0.066588
4     920 -0.014584
5     980 -0.241869
6    1070 -0.146723
7    1100 -0.119692
8    1200 -0.133681
9    1300  0.035012
10   1390 -0.001149
11   1730 -0.365353
12   1890 -0.083227
13   2290  0.016671
14   3370 -0.191614
15   4210 -0.227856
16   4230 -0.054210
17   5760 -0.023799
18   7520  0.234375
19   8530  0.026467
20   9710 -0.016705
21  12610  0.135876
22  29910  0.011146

In [27]:
# 0~5행까지 상승률의 평균
np.mean(Atype.상승률[0:6])

-0.15038199497346036

In [26]:
# 6~11행까지 상승률의 평균
np.mean(Atype.상승률[6:12])

-0.1219310030386926

In [25]:
# 12~17행까지 상승률의 평균
np.mean(Atype.상승률[12:18])

-0.09400592265884831

In [24]:
# 18~22행까지 상승률의 평균
np.mean(Atype.상승률[18:23])

0.0782317870432673

In [7]:
Ctype

,assortment,Store,오픈 전 매출,오픈 전 개월수,오픈 달 매출,오픈 후 매출,오픈 후 개월수,오픈전 평균매출,오픈후 평균매출,경쟁사거리,상승률
0,c,166,2262495,15,141433,2129265,15,150833.000000,141951.000000,100,-0.058886
1,c,47,527215,3,164466,4910079,27,175738.333333,181854.777778,270,0.034804
2,c,57,4878326,17,267591,3009716,13,286960.352941,231516.615385,420,-0.193210
3,c,52,2974594,15,163924,1469224,9,198306.266667,163247.111111,450,-0.176793
4,c,33,894649,4,209083,5468426,26,223662.250000,210324.076923,1320,-0.059635
5,c,185,5091087,28,173026,357651,2,181824.535714,178825.500000,1860,-0.016494
6,c,103,2592946,22,112886,253241,8,117861.181818,31655.125000,5210,-0.731420
7,c,54,3752136,19,196648,2258634,11,197480.842105,205330.363636,7170,0.039748
8,c,51,922745,6,174191,3055092,18,153790.833333,169727.333333,10570,0.103625
9,c,84,6050494,19,323802,3718426,11,318447.052632,338038.727273,11810,0.061523
10,c,75,1604262,11,184726,2933400,19,145842.000000,154389.473684,22440,0.058608
11,c,7,579944,3,197381,6152877,27,193314.666667,227884.333333,24000,0.178826
12,c,138,3745246,21,181577,1794413,9,178345.047619,199379.222222,25360,0.117941
13,c,53,1039487,8,119643,2968479,22,129935.875000,134930.863636,30360,0.038442
14,c,110,324277,3,107536,3123180,27,108092.333333,115673.333333,46590,0.070134
15,c,122,418119,3,156596,5144168,27,139373.000000,190524.740741,58260,0.367013

In [32]:
Ctype = pd.read_excel('중도경쟁사C.xlsx', header=0, 
                      usecols="J,K", convert_float=True)

In [33]:
Ctype

    경쟁사거리       상승률
0     100 -0.058886
1     270  0.034804
2     420 -0.193210
3     450 -0.176793
4    1320 -0.059635
5    1860 -0.016494
6    5210 -0.731420
7    7170  0.039748
8   10570  0.103625
9   11810  0.061523
10  22440  0.058608
11  24000  0.178826
12  25360  0.117941
13  30360  0.038442
14  46590  0.070134
15  58260  0.367013