# 주류 출고량과 음주운전 사건 발생수의 상관관계 분석

## 1. 비즈니스 이해 

### Background : 어떠한 문제가 존재하는지 상황에 대해 알려진 기사, 논문, 보고서 등을 인용하여 현상을 구체적으로 기술하시기 바랍니다.
- [고속도 만취 역주행 벤츠, 택시와 정면충돌 1명 사망 2명 중상](http://www.segye.com/newsView/20180530000572)
- ['만취 벤츠' 역주행 사고 난 다음날에도 '93명'이 음주 운전해 걸렸다](http://www.insight.co.kr/news/158429)
- [음주 역주행 사고 잊었나…고속도로 음주운전 무더기 적발](http://www.yonhapnews.co.kr/bulletin/2018/06/01/0200000000AKR20180601069900061.HTML?input=1195m)
- 음주운전으로 발생하는 심각한 인명사고와 단속강화 이후에도 끊이지 않는 음주운전과 사고발생으로 일반 운전자 및 보행자가 피해를 당하는 설명을 담은 기사들이다.

### Business Objectives : 기업(혹은 본인)에게 이 현상이 어떠한 이유로 분석을 해야 하는지 추상적(함축적)으로 기술하시기 바랍니다.
- 지역별 주류 출고량과 음주운전 발생 사건 수의 상관관계가 있는지 분석하고 음주운전 사고발생을 줄이는데 도움이 되고자 함. (상담)

### Business Success Criteria : 비즈니스 관점에서 분석결과의 성공기준(정량적) 또는 유용한 결과에 대한 기준(정성적)을 설명하십시오.
- 지역별 음주운전 사고 발생과 관련된 자료를 파악하고 , 지역별 음주운전을 해소하는데 도움이 되고자함. (상담)

### Analysis Goals : 비즈니스 목표에 대한 의사결정 지원을 위해 실시하는 분석의 목표를 기술합니다. 
- 뭐라쓸지 ㅁㄹ 
- 참고자료(경찰청 공공데이터, 국가통계포털 주류출고량)

## 2. 데이터의 이해 
- 지역별 주류 출고량 데이터 수집하여 활용할 수 있게 수정함.
    - 2012~2016년 지역별 주류 출고량 (KOSIS 국세통계:10.1.2 주류별 · 지역별 주세 신고 현황[2006~])
- 지방청 별 음주운전 사건 발생 수 자료를 수집하여 활용할 수 있게 수정함.
    - 사이버 경찰청 공공데이터

In [2]:
# 필요한 모듈 import
import pandas as pd
import numpy as np

In [3]:
# 데이터 로드 
음주운전건수 = pd.read_csv("drunk driving.csv" , encoding="utf-8")
음주운전건수.head()

  지역별      소계  2012년   2013년   2014년   2015년   2016년
0  서울  16,968   3,800   3,534   3,344   3,433   2,857
1  인천   6,539   1,572   1,383   1,232   1,249   1,103
2  경기  30,168   7,106   6,485   5,713   5,963   4,901
3  강원   4,881   1,235   1,066     911     961     708
4  대전   3,967     920     917     742     730     658

In [4]:
주류출고현황 = pd.read_csv('liquor sale.csv', engine = 'python')
주류출고현황.head()

  癤우���뿭蹂�     �냼怨�  2012�뀈  2013�뀈  2014�뀈  2015�뀈  2016�뀈
0     �꽌�슱   761427  160086  153765  155452  148430  143694
1     �씤泥�   103323   18937   20598   22032   20999   20757
2      寃쎄린  4269771  784389  843829  838152  882098  921303
3      媛뺤썝  2305640  548244  479642  440533  455207  382014
4    ����쟾   192487   37401   36735   40061   40008   38282

In [5]:
주류판매점 = pd.read_csv('liquor shop.csv', engine = 'python')
주류판매점.head()

  癤우���뿭蹂�    �냼怨� 2012�뀈   2013�뀈  2014�뀈  2015�뀈  2016�뀈
0     �꽌�슱  593330  116244  116303  118569  121344  120870
1     �씤泥�  155195   29409   29456   30069   32820   33441
2      寃쎄린  708207  137496  138109  141592  143393  147617
3      媛뺤썝  171137   33518   33679   34064   34524   35352
4    ����쟾  102659   19893   19999   20524   20997   21246

In [6]:
# 음주운전 건수 순서로 정렬
음주운전건수.sort_values(by="소계",ascending = False)

   지역별      소계  2012년   2013년   2014년   2015년   2016년
12  경북   8,362   2,067   1,728   1,678   1,611   1,278
6   충남   7,813   1,840   1,608   1,504   1,562   1,299
15  경남   6,886   1,574   1,550   1,413   1,378     971
1   인천   6,539   1,572   1,383   1,232   1,249   1,103
10  전남   6,169   1,574   1,332   1,167   1,189     907
11  대구   5,895   1,379   1,263   1,205   1,119     929
9   전북   5,669   2,067   1,026     887     929     760
5   충북   5,418   1,237   1,174   1,040   1,098     869
13  부산   5,317   1,251   1,193   1,021   1,049     803
3   강원   4,881   1,235   1,066     911     961     708
8   광주   4,776   1,197   1,051     905     861     762
14  울산   4,019     892     863     866     801     597
2   경기  30,168   7,106   6,485   5,713   5,963   4,901
4   대전   3,967     920     917     742     730     658
16  제주   2,120     458     416     415     466     365
0   서울  16,968   3,800   3,534   3,344   3,433   2,857
7   세종       0     NaN     NaN     NaN     NaN     NaN

- 음주운전건수량 순서는 경북, 충남, 경남 순 이었음.

In [7]:
# 주류출고순으로 정렬
주류출고현황.sort_values(by="�냼怨�",ascending = False)

   癤우���뿭蹂�     �냼怨�  2012�뀈  2013�뀈  2014�뀈  2015�뀈  2016�뀈
5       異⑸턿  4330253  849506  856110  916208  844121  864308
2       寃쎄린  4269771  784389  843829  838152  882098  921303
3       媛뺤썝  2305640  548244  479642  440533  455207  382014
9      �쟾遺�  2173541  470848  429776  426881  450074  395962
15      寃쎈궓  1948741  421472  399695  386162  389413  351999
8       愿묒＜   884182  115398  159990  203138  198398  207258
0      �꽌�슱   761427  160086  153765  155452  148430  143694
11    ���援�   592550  119217  117109  123632  117456  115136
13     遺��궛   339497   77986   69849   70290   64573   56799
10     �쟾�궓   325273   71048   64431   65628   65508   58658
14     �슱�궛   307477   58843   53052   63129   67554   64899
4     ����쟾   192487   37401   36735   40061   40008   38282
12      寃쎈턿   113908   20341   22460   23657   24576   22874
1      �씤泥�   103323   18937   20598   22032   20999   20757
16     �젣二�    97696   18432   18373   19676   20488   20727
6       異⑸궓    65437   11252   11737   13034   14694   14720
7      �꽭醫�     2254     335     475     502     503     439

In [8]:
# 주류판매점순으로 정렬
주류판매점.sort_values(by="�냼怨�", ascending = False)

   癤우���뿭蹂�    �냼怨� 2012�뀈   2013�뀈  2014�뀈  2015�뀈  2016�뀈
2       寃쎄린  708207  137496  138109  141592  143393  147617
0      �꽌�슱  593330  116244  116303  118569  121344  120870
15      寃쎈궓  269489   51932   52360   53633   55039   56525
12      寃쎈턿  224724   43732   43844   44866   45241   47041
13     遺��궛  221242   42798   43164   44167   44997   46116
6       異⑸궓  175290   34892   33616   34646   35610   36526
3       媛뺤썝  171137   33518   33679   34064   34524   35352
10     �쟾�궓  161264   31438   31454   32147   32810   33415
1      �씤泥�  155195   29409   29456   30069   32820   33441
11    ���援�  154649   30023   30015   30649   31720   32242
5       異⑸턿  135038   26029   26121   26877   27633   28378
9      �쟾遺�  133762   25729   26057   26711   27298   27967
4     ����쟾  102659   19893   19999   20524   20997   21246
8       愿묒＜   97052   18742   18892   19388   19781   20249
14     �슱�궛   84670   16283   16339   16798   17375   17875
16     �젣二�   66541   11969   12584   13160   13934   14894
7      �꽭醫�    9888       -    1945    2289    2676    2978

In [ ]:
# "지역별" 을 중심으로 합치기
data_result = pd.merge(음주운전건수, 주류출고현황, on="지역별")

In [ ]:
# 상관관계 분석
import numpy as np
np. corrcoef(data_result["주류출고현황?"], data_result["소계"])