# 주류 출고량과 음주운전 사건 발생수의 상관관계 분석

## 1. 비즈니스 이해 

### Background : 어떠한 문제가 존재하는지 상황에 대해 알려진 기사, 논문, 보고서 등을 인용하여 현상을 구체적으로 기술하시기 바랍니다.
- [고속도 만취 역주행 벤츠, 택시와 정면충돌 1명 사망 2명 중상](http://www.segye.com/newsView/20180530000572)
- ['만취 벤츠' 역주행 사고 난 다음날에도 '93명'이 음주 운전해 걸렸다](http://www.insight.co.kr/news/158429)
- [음주 역주행 사고 잊었나…고속도로 음주운전 무더기 적발](http://www.yonhapnews.co.kr/bulletin/2018/06/01/0200000000AKR20180601069900061.HTML?input=1195m)
- 음주운전으로 발생하는 심각한 인명사고와 단속강화 이후에도 끊이지 않는 음주운전과 사고발생으로 일반 운전자 및 보행자가 피해를 당하는 설명을 담은 기사들이다.

### Business Objectives : 기업(혹은 본인)에게 이 현상이 어떠한 이유로 분석을 해야 하는지 추상적(함축적)으로 기술하시기 바랍니다.
- 지역별 주류 출고량과 음주운전 발생 사건 수의 상관관계가 있는지 분석하고 음주운전 사고발생을 줄이는데 도움이 되고자 함. (상담)

### Business Success Criteria : 비즈니스 관점에서 분석결과의 성공기준(정량적) 또는 유용한 결과에 대한 기준(정성적)을 설명하십시오.
- 지역별 음주운전 사고 발생과 관련된 자료를 파악하고 , 지역별 음주운전을 해소하는데 도움이 되고자함. (상담)

### Analysis Goals : 비즈니스 목표에 대한 의사결정 지원을 위해 실시하는 분석의 목표를 기술합니다. 
- 뭐라쓸지 ㅁㄹ 
- 참고자료(경찰청 공공데이터, 국가통계포털 주류출고량)

## 2. 데이터의 이해 
- 지역별 주류 출고량 데이터 수집하여 활용할 수 있게 수정함.
    - 2012~2016년 지역별 주류 출고량 (KOSIS 국세통계:10.1.2 주류별 · 지역별 주세 신고 현황[2006~])
- 지방청 별 음주운전 사건 발생 수 자료를 수집하여 활용할 수 있게 수정함.
    - 사이버 경찰청 공공데이터

In [1]:
# 필요한 모듈 import
import pandas as pd
import numpy as np

In [45]:
# 데이터 로드 
음주운전건수 = pd.read_csv("drunk driving.csv", thousands=',')
음주운전건수.iloc[7,1:] = 0
음주운전건수

   지역별     소계   2012년    2013년    2014년    2015년    2016년
0   서울  16968   3800.0   3534.0   3344.0   3433.0   2857.0
1   인천   6539   1572.0   1383.0   1232.0   1249.0   1103.0
2   경기  30168   7106.0   6485.0   5713.0   5963.0   4901.0
3   강원   4881   1235.0   1066.0    911.0    961.0    708.0
4   대전   3967    920.0    917.0    742.0    730.0    658.0
5   충북   5418   1237.0   1174.0   1040.0   1098.0    869.0
6   충남   7813   1840.0   1608.0   1504.0   1562.0   1299.0
7   세종      0      0.0      0.0      0.0      0.0      0.0
8   광주   4776   1197.0   1051.0    905.0    861.0    762.0
9   전북   5669   2067.0   1026.0    887.0    929.0    760.0
10  전남   6169   1574.0   1332.0   1167.0   1189.0    907.0
11  대구   5895   1379.0   1263.0   1205.0   1119.0    929.0
12  경북   8362   2067.0   1728.0   1678.0   1611.0   1278.0
13  부산   5317   1251.0   1193.0   1021.0   1049.0    803.0
14  울산   4019    892.0    863.0    866.0    801.0    597.0
15  경남   6886   1574.0   1550.0   1413.0   1378.0    971.0
16  제주   2120    458.0    416.0    415.0    466.0    365.0

In [46]:
주류출고현황 = pd.read_csv('liquor sale.csv', na_values=0)
주류출고현황

   지역별       소계   2012년   2013년   2014년   2015년   2016년
0   서울   761427  160086  153765  155452  148430  143694
1   인천   103323   18937   20598   22032   20999   20757
2   경기  4269771  784389  843829  838152  882098  921303
3   강원  2305640  548244  479642  440533  455207  382014
4   대전   192487   37401   36735   40061   40008   38282
5   충북  4330253  849506  856110  916208  844121  864308
6   충남    65437   11252   11737   13034   14694   14720
7   세종     2254     335     475     502     503     439
8   광주   884182  115398  159990  203138  198398  207258
9   전북  2173541  470848  429776  426881  450074  395962
10  전남   325273   71048   64431   65628   65508   58658
11  대구   592550  119217  117109  123632  117456  115136
12  경북   113908   20341   22460   23657   24576   22874
13  부산   339497   77986   69849   70290   64573   56799
14  울산   307477   58843   53052   63129   67554   64899
15  경남  1948741  421472  399695  386162  389413  351999
16  제주    97696   18432   18373   19676   20488   20727

In [47]:
주류판매점 = pd.read_csv('liquor shop.csv', na_values=0)
주류판매점.iloc[7,2] = 0
주류판매점

   지역별      소계  2012년    2013년   2014년   2015년   2016년
0   서울  593330  116244  116303  118569  121344  120870
1   인천  155195   29409   29456   30069   32820   33441
2   경기  708207  137496  138109  141592  143393  147617
3   강원  171137   33518   33679   34064   34524   35352
4   대전  102659   19893   19999   20524   20997   21246
5   충북  135038   26029   26121   26877   27633   28378
6   충남  175290   34892   33616   34646   35610   36526
7   세종    9888       0    1945    2289    2676    2978
8   광주   97052   18742   18892   19388   19781   20249
9   전북  133762   25729   26057   26711   27298   27967
10  전남  161264   31438   31454   32147   32810   33415
11  대구  154649   30023   30015   30649   31720   32242
12  경북  224724   43732   43844   44866   45241   47041
13  부산  221242   42798   43164   44167   44997   46116
14  울산   84670   16283   16339   16798   17375   17875
15  경남  269489   51932   52360   53633   55039   56525
16  제주   66541   11969   12584   13160   13934   14894

In [48]:
# 음주운전 건수 순서로 정렬
음주운전건수.sort_values(by="소계",ascending = False)

   지역별     소계   2012년    2013년    2014년    2015년    2016년
2   경기  30168   7106.0   6485.0   5713.0   5963.0   4901.0
0   서울  16968   3800.0   3534.0   3344.0   3433.0   2857.0
12  경북   8362   2067.0   1728.0   1678.0   1611.0   1278.0
6   충남   7813   1840.0   1608.0   1504.0   1562.0   1299.0
15  경남   6886   1574.0   1550.0   1413.0   1378.0    971.0
1   인천   6539   1572.0   1383.0   1232.0   1249.0   1103.0
10  전남   6169   1574.0   1332.0   1167.0   1189.0    907.0
11  대구   5895   1379.0   1263.0   1205.0   1119.0    929.0
9   전북   5669   2067.0   1026.0    887.0    929.0    760.0
5   충북   5418   1237.0   1174.0   1040.0   1098.0    869.0
13  부산   5317   1251.0   1193.0   1021.0   1049.0    803.0
3   강원   4881   1235.0   1066.0    911.0    961.0    708.0
8   광주   4776   1197.0   1051.0    905.0    861.0    762.0
14  울산   4019    892.0    863.0    866.0    801.0    597.0
4   대전   3967    920.0    917.0    742.0    730.0    658.0
16  제주   2120    458.0    416.0    415.0    466.0    365.0
7   세종      0      0.0      0.0      0.0      0.0      0.0

- 음주운전건수량 순서는 경북, 충남, 경남 순 이었음.

In [49]:
# 주류출고순으로 정렬
주류출고현황.sort_values(by="소계",ascending = False)

   지역별       소계   2012년   2013년   2014년   2015년   2016년
5   충북  4330253  849506  856110  916208  844121  864308
2   경기  4269771  784389  843829  838152  882098  921303
3   강원  2305640  548244  479642  440533  455207  382014
9   전북  2173541  470848  429776  426881  450074  395962
15  경남  1948741  421472  399695  386162  389413  351999
8   광주   884182  115398  159990  203138  198398  207258
0   서울   761427  160086  153765  155452  148430  143694
11  대구   592550  119217  117109  123632  117456  115136
13  부산   339497   77986   69849   70290   64573   56799
10  전남   325273   71048   64431   65628   65508   58658
14  울산   307477   58843   53052   63129   67554   64899
4   대전   192487   37401   36735   40061   40008   38282
12  경북   113908   20341   22460   23657   24576   22874
1   인천   103323   18937   20598   22032   20999   20757
16  제주    97696   18432   18373   19676   20488   20727
6   충남    65437   11252   11737   13034   14694   14720
7   세종     2254     335     475     502     503     439

In [50]:
# 주류판매점순으로 정렬
주류판매점.sort_values(by="소계", ascending = False)

   지역별      소계  2012년    2013년   2014년   2015년   2016년
2   경기  708207  137496  138109  141592  143393  147617
0   서울  593330  116244  116303  118569  121344  120870
15  경남  269489   51932   52360   53633   55039   56525
12  경북  224724   43732   43844   44866   45241   47041
13  부산  221242   42798   43164   44167   44997   46116
6   충남  175290   34892   33616   34646   35610   36526
3   강원  171137   33518   33679   34064   34524   35352
10  전남  161264   31438   31454   32147   32810   33415
1   인천  155195   29409   29456   30069   32820   33441
11  대구  154649   30023   30015   30649   31720   32242
5   충북  135038   26029   26121   26877   27633   28378
9   전북  133762   25729   26057   26711   27298   27967
4   대전  102659   19893   19999   20524   20997   21246
8   광주   97052   18742   18892   19388   19781   20249
14  울산   84670   16283   16339   16798   17375   17875
16  제주   66541   11969   12584   13160   13934   14894
7   세종    9888       0    1945    2289    2676    2978

In [51]:
# "지역별" 을 중심으로 합치기
data_result = pd.merge(음주운전건수, 주류출고현황, on="지역별")

In [52]:
data_result

,지역별,소계_x,2012년,2013년,2014년,2015년,2016년,소계_y,2012년,2013년,2014년,2015년,2016년
0,서울,16968,3800.0,3534.0,3344.0,3433.0,2857.0,761427,160086,153765,155452,148430,143694
1,인천,6539,1572.0,1383.0,1232.0,1249.0,1103.0,103323,18937,20598,22032,20999,20757
2,경기,30168,7106.0,6485.0,5713.0,5963.0,4901.0,4269771,784389,843829,838152,882098,921303
3,강원,4881,1235.0,1066.0,911.0,961.0,708.0,2305640,548244,479642,440533,455207,382014
4,대전,3967,920.0,917.0,742.0,730.0,658.0,192487,37401,36735,40061,40008,38282
5,충북,5418,1237.0,1174.0,1040.0,1098.0,869.0,4330253,849506,856110,916208,844121,864308
6,충남,7813,1840.0,1608.0,1504.0,1562.0,1299.0,65437,11252,11737,13034,14694,14720
7,세종,0,0.0,0.0,0.0,0.0,0.0,2254,335,475,502,503,439
8,광주,4776,1197.0,1051.0,905.0,861.0,762.0,884182,115398,159990,203138,198398,207258
9,전북,5669,2067.0,1026.0,887.0,929.0,760.0,2173541,470848,429776,426881,450074,395962
10,전남,6169,1574.0,1332.0,1167.0,1189.0,907.0,325273,71048,64431,65628,65508,58658
11,대구,5895,1379.0,1263.0,1205.0,1119.0,929.0,592550,119217,117109,123632,117456,115136
12,경북,8362,2067.0,1728.0,1678.0,1611.0,1278.0,113908,20341,22460,23657,24576,22874
13,부산,5317,1251.0,1193.0,1021.0,1049.0,803.0,339497,77986,69849,70290,64573,56799
14,울산,4019,892.0,863.0,866.0,801.0,597.0,307477,58843,53052,63129,67554,64899
15,경남,6886,1574.0,1550.0,1413.0,1378.0,971.0,1948741,421472,399695,386162,389413,351999
16,제주,2120,458.0,416.0,415.0,466.0,365.0,97696,18432,18373,19676,20488,20727

In [53]:
# 상관관계 분석
import numpy as np
np.corrcoef(data_result["소계_x"], data_result["소계_y"])

array([[ 1.        ,  0.51537614],
       [ 0.51537614,  1.        ]])